{%- assign uniq = 0 | rand %}

{%- style -%}
  .yc-{{ uniq }}-add-to-cart button {
    background: {{ background_color.hex }} !important;
    color: {{ text_color.hex }} !important;
    width: 100%;
  }
  .yc-{{ uniq }}-add-to-cart button span {
    font-weight: 600;
  }
{%- endstyle -%}

<div class='yc-{{ uniq }}-add-to-cart{% if is_sticky %} is_sticky{% endif %}'>
  <button
    class='yc-btn btn-sm'
    onclick='addToCart("{{ snippetId }}")'
  >
    <span
      class='spinner hidden'
      id='loading__cart'
    ></span>
    <span>
      {{ text }}
    </span>
  </button>
</div>
