{%- assign uniq = 0 | rand %}

{%- style -%}
  .yc-{{ uniq }}-add-to-cart button {
    background: {{ background_color.hex }} !important;
    width: 100%;
    padding: 12px;
  }
  .yc-{{ uniq }}-add-to-cart button span {
    font-weight: 600;
    color: {{ text_color.hex }} !important;
  }

  .yc-{{ uniq }}-add-to-cart .yc-btn:disabled {
    background: #bdc3c7 !important;
    color: #ffffff !important;
    cursor: not-allowed;
  }
{%- endstyle -%}

<div class='yc-{{ uniq }}-add-to-cart{% if is_sticky %} is_sticky{% endif %}'>
  <button class='yc-btn' {% if is_placeholder %} disabled {% endif %} onclick='addToCart("{{ snippetId }}")'>
    <span class='spinner hidden' id='loading__cart'></span>
    <span>{{ text }}</span>
  </button>
</div>

{% javascript %}

  const TRANSLATED_TEXT = {
    empty_inventory: "{{ 'errors.empty_inventory' | t }}"
  }

  const IS_CART_SKIPED = "{{ skip_cart }}";
  const CHECKOUT_PAGE_URL = "{{ checkout_page_url }}";
{% endjavascript %}
