{{ 'cart-drawer.css' | asset_url | stylesheet_tag }}

<div class='navigation-drawer cart-drawer'>
  <div class='wall'>
    <div>
      <div class='header'>
        <div class='your-cart-title'>
          {{ 'cart.your_cart' | t }}
        </div>
    
        <button id='close-cart-drawer' class='close-cart-drawer-btn'>
          {% render 'icon', name: 'cart-drawer-close' %}
        </button>
      </div>
    
      <!-- content & total elements will be filled with JS (check cart-drawer.js) -->
      <div class='content'></div>
    </div>
  
    <div class='bottom-coconut'>
      <div class='total-wrapper'>
        <div class='total-word'>{{ 'cart.summary.total' | t }}</div>
        <div class='total'>{{ 0 | money }}</div>
      </div>
  
      <a class='yc-btn continue-shopping' href="{{ routes.cart_url }}">{{ 'cart.continue_shopping' | t }}</a>
      <a class='yc-btn close close-cart-drawer-btn'>{{ 'cart.close' | t }}</a>
    </div>
  </div>
</div>

{% javascript %}
  const CART_DRAWER_LOCALES = {
    quantity: '{{ 'cart.items.quantity' | t }}',
    remove: `{% render 'icon', name: 'trash' %}`
  }
{% endjavascript %}

{{ 'cart-drawer.js' | asset_url | script_tag }}
