{{ 'cart-table.css' | asset_url | stylesheet_tag }}

<table class='table-auto w-full mt-7 self-baseline cart-items-table'>
  <thead>
    <tr>
      <th></th>
      <th class='quantity-head'>
        {{ 'cart.items.quantity' | t }}
      </th>
      <th>{{ 'cart.items.total' | t }}</th>
    </tr>
  </thead>
  <tbody>
    {%- for item in cart.items %}
      <tr
        class='relative cart__item'
        id='{{ item.id }}'
      >
        <td class='flex gap-6'>
          <div
            class='cart-item-loader-spinner hidden'
            id='loading__{{ item.id }}'
          >
            <span class='spinner h-9 w-9'></span>
          </div>
          <div class='fixed'></div>
          <img
            loading='lazy'
            src='{{ item.image }}'
            alt='product-name'
            class='w-24 object-cover'
          >
          <div class='flex flex-col items-start gap-3'>
            <div>
              {{ item.name }}
            </div>
            <div>{{ item.price | money }}</div>
            <div class='quantity-on-mobile'></div>
            <button
              onclick="removeItem('{{ item.id }}', '{{ item.product_variant_id }}')"
              class='yc-btn btn-sm flex items-center gap-1'
            >
              <ion-icon
                name='trash'
                class='text-base'
              ></ion-icon>
              {{ 'cart.items.remove_cta' | t }}
            </button>
          </div>
        </td>
        <td class='quantity-on-desktop'>
          {%- render 'quantity-input', item: item -%}
        </td>
        <td>{{ item.price | times: item.quantity | money }}</td>
      </tr>
    {%- endfor %}
  </tbody>
</table>

{{ 'cart-table.js' | asset_url | script_tag_deferred }}
