{% style %}
  .collection-name {
    color: {{ section.settings.category_name_color.hex }};
  }
  
  .collection-description {
    color: {{ section.settings.category_description.hex }}; 
  }
  
  .collection-details {
    background-color: {{ section.settings.preview_overlay_color.hex }};
  }
{% endstyle %}

<div
  class='collection-block'
  {{ block.youcan_attributes }}
>
  <div class='collection-thumbnail'>
    {% if category.image %}
      <img
        loading='lazy'
        src='{{ category.image }}'
      >
    {% else %}
      <img
        loading='lazy'
        src='{{ 'default_product.jpeg' | asset_url }}'
      >
    {% endif %}
    <div class='collection-details'>
      <span class='collection-name'>{{ category.name }}</span>
      <span class='collection-description'>{{ category.description }}</span>
      <a href='/collections/{{ category.slug }}' class='collection-button yc-btn'>{{ 'general.show_more_button' | t }}</a>
    </div>
  </div>
</div>
