<a
  href='/collections/{{ category.slug }}'
  class='product-block'
  {{ block.youcan_attributes }}
>
  <div class='product-thumbnail'>
    {% if category.image %}
      <img
        loading='lazy'
        src='{{ category.image }}'
      >
    {% else %}
      <img
        loading='lazy'
        src='{{ 'default_product.jpeg' | asset_url }}'
      >
    {% endif %}
  </div>
  <div class='product-details'>
    <span class='product-title'>{{ category.name }}</span>
  </div>
  <button class='yc-btn w-full'>{{ 'snippets.collection_preview.visit_cta' | t }}</button>
</a>
