<a href='/collections/{{ category.slug }}'
  class='collection-block'
  {{ block.youcan_attributes }}
>
  <div class='collection-thumbnail'>
    {% if category.image %}
      <img
        loading='lazy'
        src='{{ category.image }}'
      >
    {% else %}
      <img
        loading='lazy'
        src='{{ 'default_product.jpeg' | asset_url }}'
      >
    {% endif %}
    <div class='collection-details'>
      <span class='collection-title'>{{ category.name }}</span>
    </div>
  </div>
</a>
