{% assign id = 100 | rand: 2000 %}

{%- style -%}
  .countdown-container {
    background-color: {{ block.settings.background_color.hex }};
    color: {{ block.settings.text_color.hex }};
  }
{%- endstyle -%}

<div class="countdown-wrapper">
  <div class='message'>{{ section_settings.countdown_message }}</div>
  <div class="countdown" id="count-{{ id }}" data-date="{{ section_settings.countdown_day }}-{{ section_settings.countdown_month }}-{{ section_settings.countdown_year }}" data-time="{{ section_settings.countdown_hour }}:{{ section_settings.countdown_minute }}">
    <ion-icon class="countdown-icon" name="time-outline"></ion-icon>
    <div class="day"><span class="num"></span></div>
    <div class="dots">:</div>
    <div class="hour"><span class="num"></span></div>
    <div class="dots">:</div>
    <div class="min"><span class="num"></span></div>
    <div class="dots">:</div>
    <div class="sec"><span class="num"></span></div>
  </div>
</div>

{% javascript %}
  countdown('#count-{{ id }}');
{% endjavascript %}
