{% comment %}
     - To pass hard coded value use this syntax
    {% render 'custom-select', data: "[{label: 'one', value:'two'}]" %}

    - If you only have an array of values and you want to pass it you can use format option
    {% render 'custom-select', data: option.values, format: true %}
{% endcomment %}

{% assign select_id = 100 | rand: 2000 %}

{% style %}
#custom-select-{{ select_id }} {
  position: relative;
  min-width: 250px;
}

#custom-select-{{ select_id }} select * {
  display:none;
}

#custom-select-{{ select_id }} select {
  font-family: var(--yc-font-family);
  appearance: none;
  border: 1px solid #E6E6E6;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  display: block !important;
  border-radius: 5px;
  font-style: normal;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}

#custom-select-{{ select_id }} .dropdown-list {
  background-color: #fff;
  border: 1px solid #E6E6E6;
  display: none;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  top: 117%;
  width: 100%;
  z-index: 1;
  filter: drop-shadow(0px 4px 4px rgba(193, 193, 193, 0.22));
  border-radius: 5px;
}

#custom-select-{{ select_id }} .dropdown-list.show {
  display: block;
}

#custom-select-{{ select_id }} .dropdown-option {
  cursor: pointer;
  padding: 10px;
}

#custom-select-{{ select_id }} .dropdown-option:hover {
  background-color: #F7F7F7;
}

#custom-select-{{ select_id }} .select-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 0.8em;
    color: #666;
}
{% endstyle %}

<div class="custom-select" id="custom-select-{{ select_id }}">
  <select></select>
  <span class="select-icon">{% render 'icon', name: 'chevron_down' %}</span>
  <div class="dropdown-list"></div>
</div>

{{ 'custom-select.js' | asset_url | script_tag }}

<script>
    const select_options =  {% if format %} `{{data | json}}` {% else %} {{ data }} {% endif %};
    const format = {% if format %} true {% else %} false {% endif %};

    setCustomSelect({{ select_id }},select_options);
</script>
