<div class="countdown-wrapper">
  <div class='message'>{{ message }}</div>
  <div class="countdown" data-date="{{ countdown_day }}-{{ countdown_month }}-{{ countdown_year }}" data-time="{{ countdown_hour }}:{{ countdown_minute }}">
    <div class="day"><span class="num"></span><span class="word"></span></div>
    <div class="hour"><span class="num"></span><span class="word"></span></div>
    <div class="min"><span class="num"></span><span class="word"></span></div>
    <div class="sec"><span class="num"></span><span class="word"></span></div>
  </div>
</div>

{{ 'countdown.js' | asset_url | script_tag_deferred }}
