<meta charset='UTF-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width, initial-scale=1.0'>

{{ 'notice-bar.css' | asset_url | stylesheet_tag }}

{%- if settings.favicon %}
  <link rel='shortcut icon' href='{{ settings.favicon.src }}'>
{% else %}
  <link rel='shortcut icon' href='{{ 'favicon.png' | asset_url }}'>
{% endif %}

{{ 'splide.min.css' | asset_url | stylesheet_tag }}
{{ 'splide.min.js' | asset_url | script_tag }}

{{ 'normalize.css' | asset_url | stylesheet_tag }}
{{ 'main.css' | asset_url | stylesheet_tag }}
{{ 'utils.css' | asset_url | stylesheet_tag }}

<title>
  {%- if settings.head_title %}
    {{ settings.head_title }}
  {% else %}
    {{ store.name }}
  {% endif %}
</title>
