{% capture sort_options %}
  [
    {"label": "{{ 'snippets.main_sort.price_asc' | t }}", "value": "price-asc"},
    {"label": "{{ 'snippets.main_sort.price_desc' | t }}", "value": "price-desc"},
    {"label": "{{ 'snippets.main_sort.created_at_asc' | t }}", "value": "created_at-asc"},
    {"label": "{{ 'snippets.main_sort.created_at_desc' | t }}", "value": "created_at-desc"},
    {"label": "{{ 'snippets.main_sort.title_asc' | t }}", "value": "name-asc"},
    {"label": "{{ 'snippets.main_sort.title_desc' | t }}", "value": "name-desc"}
  ]
{% endcapture %}
<div class="sort-select">
  {% render 'custom-select', data: sort_options, handlerFunction: 'selectSortValue' %}
</div>
