<div class="dropdown-input" id="productDropdownFiltring">
  <span class="dropbtn"></span>
  <div class="dropdown-content">
    <a href="#" data-value="price-asc">{{ 'snippets.main_sort.price_asc' | t }}</a>
    <a href="#" data-value="price-desc">{{ 'snippets.main_sort.price_desc' | t }}</a>
    <a href="#" data-value="created_at-asc">{{ 'snippets.main_sort.created_at_asc' | t }}</a>
    <a href="#" data-value="created_at-desc">{{ 'snippets.main_sort.created_at_desc' | t }}</a>
    <a href="#" data-value="name-asc">{{ 'snippets.main_sort.title_asc' | t }}</a>
    <a href="#" data-value="name-desc">{{ 'snippets.main_sort.title_desc' | t }}</a>
  </div>
</div>

{{ 'dropdown-menu.js' | asset_url | script_tag_deferred }}
