{{ 'product-slider.css' | asset_url | stylesheet_tag }}

{% style %}
  #yc_slider_{{ id }} .splide__arrow {
    width: 54px;
    height: 54px;
    margin: 0 100px;
    border: 1px solid #EDEDED;
    box-shadow: 4px 10px 76px rgba(0, 0, 0, 0.14);
    border-radius: 0px 8px 8px 0px;
  }

  #yc_slider_{{ id }} .product-block .product-slider {
    background: white;
    height: 100%;
  }

  #yc_slider_{{ id }} .splide__arrow--next {
    border-radius: 0 8px 8px 0;
    transform: translate(215px, -30px);
  }

  #yc_slider_{{ id }} .splide__arrow--prev {
    border-radius: 8px 0 0 8px;
    transform: translate(-215px, -30px)
  }

  #yc_slider_{{ id }} .splide__arrow svg {
    height: 16px;
    width: 16px;
    fill: #000;
  }

  @media screen and (max-width: 768px) {
    #yc_slider_{{ id }} .product-details {
      display: none;
    }
  }

{% endstyle %}

{% assign products_exist = false %}

{% for block in section.blocks %}
  {% if block.settings.product %}
    {% assign products_exist = true %}
  {% endif %}
{% endfor %}


<div
  class='splide yc-slider__{{ view }} product-slider'
  id='yc_slider_{{ id }}'
>
  <div class='splide__track'>
    <ul class='splide__list'>
      {% if products_exist %}
        {% for block in blocks %}
          <li
            class='splide__slide'
            {{ block.youcan_attributes }}
          >
            {% if settings.direct_add_to_cart and block.settings.product.variants.size <= 1 %}
              <div class='product-block' onclick="directAddToCart('{{ block.settings.product.variants[0].id }}')">
            {% else %}
              <div class='product-block' onclick="window.location.href='{{ block.settings.product.url }}'">
            {% endif %}
              <div class="product-slider">
                <div class='product-thumbnail'>
                  <img
                    loading='lazy'
                    src='{%- if block.settings.product.thumbnail -%} {{ block.settings.product.thumbnail }} {%- else -%} {{ 'default_product.jpeg' | asset_url }} {%- endif -%}'
                    >
                    {% if block.settings.tag_text %}
                      <div
                        class="tag {{ section_settings.tag_position }}"
                        style="background: {{ section_settings.banner_background_color.hex }}; color: {{ section_settings.tag_text_color.hex }}"
                      >
                        {{ block.settings.tag_text }}
                      </div>
                    {% endif %}
                </div>
                <div class='product-details'>
                  <span class='product-title'>{{ block.settings.product.name }}</span>
                </div>
                <div class='prices'>
                  {% if block.settings.product.price %}
                    <span class='product-price'>{{ block.settings.product.price | money }}</span>
                  {% endif %}
                  {% if section.settings.show_compare_at_price and block.settings.product.compare_at_price %}
                    <span class='compare-at-price'>{{ block.settings.product.compare_at_price | money }}</span>
                  {% endif %}
                </div>
              </div>
            </div>
          </li>
      {% endfor %}
      {% else %}
      {% assign max_index = 2 %}
      {% assign random_titles = "Product A,Product B,Product C" | split: "," %}
      {% assign random_prices = "19.99,19.99,19.99" | split: "," %}
      {% for i in (0..max_index) %}
        <li class='splide__slide'
          {{ block.youcan_attributes }}>
          <div class='product-block product-slider-placeholder'>
            <div class='product-thumbnail'>
              {% assign svg_name = random_titles[i] %}
              {% render 'product-slider-placeholder-svg', svg_name: svg_name %}
            </div>
            <div class='product-details'>
              <span class='product-title'>{{ random_titles[i] }}</span>
            </div>
            <div class='prices'>
              <span class='product-price'>{{ random_prices[i] | money }}</span>
            </div>
          </div>
        </li>
      {% endfor %}
    {% endif %}
    </ul>
  </div>
</div>
