{{ 'components.css' | asset_url | stylesheet_tag }}
{%- assign productId = 0 | rand %}

{% style %}
  .discount_count .percentage {
    position: absolute;
    top: 12px;
    right: 12px;

    background: red
  }
{% endstyle %}

<a
  href='{{ item.url }}'
  class='product-preview'
  id="product_{{ productId }}">
  <div class='product-thumbnail'>
    <div class="tag {{ block.settings.tag_position }}">
      {% if block_settings.tag_text %}
        <div class="tag-banner" style="background: {{ block_settings.tag_color.hex }}; color: {{ block_settings.tag_text_color.hex }}">
          {{ block_settings.tag_text }}
        </div>
        {% endif %}
        {% if block_settings.discount_text %}
          <div class="tag-banner" style="background: {{ block_settings.discount_color.hex }}; color: {{ block_settings.discount_text_color.hex }}">
            {{ block_settings.discount_text }}
          </div>
      {% endif %}
    </div>
    {% if item.thumbnail %}
      <img loading='lazy' src='{{ item.thumbnail }}'>
    {% else %}
      <img loading='lazy' src='{{ 'default_product.jpeg' | asset_url }}'>
    {% endif %}
  </div>
  <div class='product-details'>
    <span class='product-title'>{{ item.name }}</span>
    <div class='prices'>
      {% if item.price %}
        <span class='product-price'>{{ item.price | money }}</span>
      {% endif %}
      {% if section.settings.show_compare_at_price and item.compare_at_price %}
        <span class='compare-at-price'>{{ item.compare_at_price | money }}</span>
      {% endif %}
    </div>
    <button class="yc-btn-secondary--large">
      {{ 'general.buy_now' | t }}
    </button>
  </div>
</a>
