{{ 'product-slider.css' | asset_url | stylesheet_tag }}
{{ 'components.css' | asset_url | stylesheet_tag }}

{% style %}
  .splide__slide {
    display: flex;
    justify-content: {{ section.settings.slider_product_position }};
    align-items: strech;
  }

  #yc_slider_{{ id }} .splide__arrow--next {
    transform: translate(215px, -30px);
  }

  #yc_slider_{{ id }} .splide__arrow--prev {
    transform: translate(-215px, -30px)
  }
{% endstyle %}

<div
  class='splide yc-slider__{{ view }} product-slider'
  id='yc_slider_{{ id }}'
>
  <div class='splide__track'>
    <ul class='splide__list'>
      {%- for block in blocks %}
        <li
          class='splide__slide'
          {{ block.youcan_attributes }}
        >
          <a
            href='{{ block.settings.product.url }}'
            class='product-preview'
          >
            <div class="product-slider">
              <div class='product-thumbnail'>
                {% if block.settings.tag_text %}
                  <div class="tag {{ block.settings.tag_position }}">
                    <div
                      class="tag-banner"
                      style="background: {{ block.settings.tag_color.hex }}; color: {{ block.settings.tag_text_color.hex }}"
                    >
                      {{ block.settings.tag_text }}
                    </div>
                  </div>
                {% endif %}
                <img
                  loading='lazy'
                  src='{%- if block.settings.product.thumbnail -%} {{ block.settings.product.thumbnail }} {%- else -%} {{ 'default_product.jpeg' | asset_url }} {%- endif -%}'
                >
              </div>

              <div class='product-details'>
                <span class='product-title'>{{ block.settings.product.name }}</span>
  
                <div class='prices'>
                  {% if section.settings.show_compare_at_price and block.settings.product.compare_at_price %}
                    <span class='compare-at-price'>{{ block.settings.product.compare_at_price | money }}</span>
                  {% endif %}
                  {% if block.settings.product.price %}
                    <span class='product-price'>{{ block.settings.product.price | money }}</span>
                  {% endif %}
                </div>
  
                <button class="yc-btn-secondary--large">
                  {{ 'general.buy_now' | t }}
                </button>
              </div>
            </div>
          </a>
        </li>
      {%- endfor %}
    </ul>
  </div>  
</div>
