{{ 'splide.min.css' | asset_url | stylesheet_tag }}
{{ 'splide.min.js' | asset_url | script_tag }}

<section class='product-images {% if hidden %} hidden{% endif %}'>
  <div class='product-images-container'>
    <div class='thumbnail-images splide yc-slider__{{ view }}' id='yc_slider_{{id}}'>
      <div class="splide__track">
        <ul class="splide__list">
          {% for image in images %}
            <li class="image-container splide__slide" onmouseenter='previewProductImage(this)'>
              <img
                loading='lazy'
                src='{{ image }}'
                alt='{{ product.name }}'>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div id='img-zoomer-box'>
      <img
        loading='lazy'
        class='main-image'
        class='main-thumbnail'
        src='{%- if images[0] %}{{images[0]}}{%- else %}{{ 'default_product.jpeg' | asset_url }}{% endif %}'
        alt='{{ product_name }}'>
      <div id='magnified-image'></div>
    </div>
  </div>
</section>
