{{ 'splide.min.css' | asset_url | stylesheet_tag }}
{{ 'splide.min.js' | asset_url | script_tag }}

<section class='product-images {% if hidden %} hidden{% endif %}'>
  <div class='product-images-container'>
    {% if images.size > 1 %}
    <div class='thumbnail-images splide yc-slider__{{ view }}' id='yc_slider_{{id}}'>
      <div class="splide__track">
        <ul class="splide__list">
          {% for image in images %}
            <li class="image-container splide__slide" onmouseenter='previewProductImage(this)'>
                <img
                  loading='lazy'
                  class='thumbnail-image'
                  src='{{ image | img_url: 'thumb' }}'
                  alt='{{ product_name }}'>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}

    <div id='img-zoomer-box'>
      {% if banner_settings.tag_text %}
        <div
          class="tag {{ banner_settings.tag_position }}"
          style="background: {{ banner_settings.tag_background_color.hex }}; color: {{ banner_settings.tag_text_color.hex }}"
        >
          {{ banner_settings.tag_text }}
        </div>
      {% endif %}
      <img
        loading='lazy'
        class='main-image'
        class='main-thumbnail'
        src='{%- if images[0] %}{{images[0]}}{%- else %}{{ 'default_product.jpeg' | asset_url }}{% endif %}'
        alt='{{ product_name }}'>
      <div id='magnified-image'></div>
    </div>
  </div>
</section>
