{%- assign snippetId = 0 | rand %}
{% assign images = product.images %}
{% assign product_name = product.name %}

<div class='product-images-container'>
  <div
    class='product-block'
  >
  <div class='image-box'>
    <img
      loading='lazy'
      class='main-image'
      class='main-thumbnail'
      src='{%- if images[0] %}{{images[0]}}{%- else %}{{ 'default_product.jpeg' | asset_url }}{% endif %}'
      alt='{{ product_name }}'>
  </div>
  <div class='product-details'>
    {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'product_title' -%}
            <h1 class='product-name'>{{ product.name }}</h1>
          {%- when 'product_price' -%}
            <div class='flex gap-2 items-center'>
              <h2 class='product-price'>{{ product.price | money }}</h2>
              {% if section.settings.show_compare_at_price %}
                <h3>
                  <del class="product-compare-price">{{ product.compare_at_price | money }}</del>
                </h3>
              {% endif %}
            </div>
          {%- when 'product_description' -%}
            <section class='product-description '>{{ product.description }}</section>
        {%- endcase -%}
    {%- endfor -%}
    <a href='{{ product.url }}' class='yc-btn buy-btn'>Add to cart</a>
    </div>
    </div>
  </div>