<div class='product-options'>
  {% for option in options -%}
    <div
      class='product-option'
      id='option-{{ option.name }}-{{ option.type }}'
    >
      <label
        class='product-option-title'
        for='{{ option.name }}'
      >
        {{- option.name -}}
      </label>
      {% case option.type %}
        {% when 'dropdown' %}
          <div class='dropdown-input'>
            <div class='dropbtn'>
              <span class='option-name'></span>
              <ion-icon name='chevron-down-outline' class='dropdown-icon'/>
            </div>
            <ul class='dropdown-content' name='{{ option.name }}'>
              {% for item in option.values %}
                <li value='{{ item }}'>{{ item }}</li>
              {% endfor %}
            </ul>
          </div>
        {% when 'textual_buttons' %}
          <ul class='yc-options-list'>
            {% for item in option.values %}
              <li
                onclick='setElementActive(this)'
                class='yc-options-item'
              >
                {{ item }}
              </li>
            {% endfor %}
          </ul>
        {% when 'radio_buttons' %}
          <div class='yc-radio'>
            {% for item in option.values %}
              <label class='yc-radio-buttons' for='{{ item }}' onclick='setElementActive(this)'>
                <input type='radio' id='{{ item }}' name='{{ option.name }}' value='{{ item }}'>
                <span class='checkmark'></span>
                <span class='label-text'>{{ item }}</span>
              </label>
            {% endfor %}
          </div>
        {% when 'image_based_buttons' %}
          <ul class='yc-image-options-list'>
            {% for item in option.values %}
              <li
                onclick='setElementActive(this)'
                class='yc-image-options-item'
              >
                <img
                  loading='lazy'
                  src='{{ item.preview }}'
                  alt='{{ item.value }}'
                >
              </li>
            {% endfor %}
          </ul>
        {% when 'upload_image_zone' %}
          <div class='yc-upload' onclick='uploadImage(this)'>
            <ion-icon class='upload-icon' name='cloud-upload-outline'></ion-icon>
            <span class='upload-msg'>{{ 'snippets.single_product.variants.upload' | t }}</span>
          </div>
          <section class='yc-upload-preview'>
            <div class='yc-upload-wrapper'>
              <div class='yc-image-preview'>
                <span class='yc-image'></span>
                <div class='yc-image-info'>
                  <span class='image-name'></span>
                  <span class='image-size'></span>
                </div>
              </div>
              <button type='button' id='close-preview'>
                <ion-icon name="close-outline"  style="zoom:2.0;"></ion-icon>
              </button>
            </div>
            <div class="progress-container">
              <div class="progress-bar"></div>
            </div>
          </section>
        {% when 'color_base_buttons' %}
          <ul class='yc-colors-select'>
            {% for item in option.values %}
              <li
                onclick='setElementActive(this)'
                class='color-item'
              >
                <span
                  class='preview'
                  style='background-color: {{ item.preview }}'
                ></span>
                <span class='value'>{{ item.value }}</span>
              </li>
            {% endfor %}
          </ul>
      {% endcase %}
    </div>
  {%- endfor %}
</div>

{{ 'dropdown-menu.js' | asset_url | script_tag_deferred }}
