{%- assign snippetId = 0 | rand %}
{% assign images = product.images %}
{% assign product_name = product.name %}
{{ 'reviews.css' | asset_url | stylesheet_tag }}


<div class='product-home-container container'>
  <div
    class='product-block'
  >
  <div class='image-box'>
  {% if block_settings.tag_text %}
    <div
      class="tag {{ block_settings.tag_position }}"
      style="background: {{ block_settings.tag_color.hex }}; color: {{ block_settings.tag_text_color.hex }}"
    >
      {{ block_settings.tag_text }}
    </div>
  {% endif %}
    <img
      loading='lazy'
      src='{%- if images[0] %}{{images[0]}}{%- else %}{{ 'default_product.jpeg' | asset_url }}{% endif %}'
      alt='{{ product_name }}'>
  </div>
  <div class='product-details product-home'>
    {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'product_title' -%}
            <h1 class='product-name'>{{ product.name }}</h1>
          {%- when 'product_reviews' -%}
            {%- render 'general-review' -%}
          {%- when 'product_price' -%}
            <div class='flex gap-2 items-center'>
              {% if product.price %}
              <h2 class='product-price'>{{ product.price | money }}</h2>
              {% endif %}
              {% if section.settings.show_compare_at_price and product.compare_at_price != nil %}
                <h3>
                  <del class="product-compare-price">{{ product.compare_at_price | money }}</del>
                </h3>
              {% endif %}
            </div>
          {%- endcase -%}
        {%- endfor -%}
      <p class='product-description'>{{ section.settings.product_description }}</p>
    <a href='{{ product.url }}' class='yc-btn buy-btn'>إتمام الشراء</a>
    </div>
    </div>
  </div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const homePageProductId = '{{ product_id }}';
    const parentContainer = '.product-home';

    fetchReviewsForProduct(homePageProductId, parentContainer, {{ product.averageRating }});
  });
</script>
