{{ 'featured-products.css' | asset_url | stylesheet_tag }}
{{ 'countdown.css' | asset_url | stylesheet_tag }}

{% if settings.direct_add_to_cart and item.variants.size <= 1 %}
  <div class='product-block' onclick="directAddToCart('{{ item.variants[0].id }}')">
{% else %}
  <div class='product-block' onclick="window.location.href='{{ item.url }}'">
{% endif %}
  <div class='product-thumbnail'>
    {% if item.thumbnail %}
      <img
        loading='lazy'
        src='{{ item.thumbnail }}'
      >
    {% else %}
      <img
        loading='lazy'
        src='{{ 'default_product.jpeg' | asset_url }}'
      >
    {% endif %}
    {% if block_settings.tag_text %}
      <div
       class="tag {{ section_settings.tag_position }}"
       style="background: {{ section_settings.tag_color.hex }}; color: {{ section_settings.tag_text_color.hex }}"
      >
        {{ block_settings.tag_text }}
      </div>
    {% endif %}
  </div>

  <div class='product-details'>
    <span class='product-title'>{{ item.name }}</span>
  </div>

  <div class='prices'>
    {% if item.price %}
      <span class='product-price'>{{ item.price | money }}</span>
    {% endif %}
    {% if section.settings.show_compare_at_price and item.compare_at_price %}
      <span class='compare-at-price'>{{ item.compare_at_price | money }}</span>
    {% endif %}
  </div>
</div>
