{{ 'reviews.css' | asset_url | stylesheet_tag }}

<div class='yc-product-reviews container'>
  <div class='head'>
    <h1 class='yc-section-title'>{{ reviews_title }}</h1>
  </div>

  <ul class='yc-reviews-wrapper' id="reviews-wrapper"></ul>

  <button class='yc-btn-secondary--large' id='show-more'>{{ 'general.show_more_button' | t }}</button>
</div>

{% javascript %}
  const reviewsProductId = '{{ reviews_product_id }}';
{% endjavascript %}

{{ 'reviews.js' | asset_url | script_tag_deferred }}
