{{ 'reviews.css' | asset_url | stylesheet_tag }}

<div class='yc-product-reviews container'>
  <div class='head'>
    <h1 class='yc-section-title'>{{ reviews_title }}</h1>

    {%- render 'general-review' -%}
  </div>
  <ul class='yc-reviews-wrapper' id="reviews-wrapper"></ul>
  <button class='yc-btn' id='show-more'>{{ 'general.show_more_button' | t }}</button>
  <button id="addReviewBtn" class="yc-btn">Add Review</button>
    <div class="yc-review-form">
      <h2>Submit Your Review</h2>
      <div id="reviewModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <div class="yc-review-form">
            <form id="reviewForm">
              <textarea name="content" placeholder="Your review"></textarea>
              <input type="email" name="email" placeholder="Your email" required>
              <div class="star-rating">
                <input type="radio" id="star5" name="ratings" value="5" /><label for="star5" title="5 stars"></label>
                <input type="radio" id="star4" name="ratings" value="4" /><label for="star4" title="4 stars"></label>
                <input type="radio" id="star3" name="ratings" value="3" /><label for="star3" title="3 stars"></label>
                <input type="radio" id="star2" name="ratings" value="2" /><label for="star2" title="2 stars"></label>
                <input type="radio" id="star1" name="ratings" value="1" /><label for="star1" title="1 star"></label>
              </div>

              <input type="text" name="first_name" placeholder="First name">
              <input type="text" name="last_name" placeholder="Last name">
              <div class='yc-upload' onclick='uploadReviewImage(this)'>
                <ion-icon class='upload-icon' name='add-outline'></ion-icon>
                <span class='upload-msg'>{{ 'snippets.single_product.variants.upload' | t }}</span>
              </div>
              <section class='yc-upload-preview'>
                <div class='yc-upload-wrapper'>
                  <div class='yc-image-preview'>
                    <span class='yc-image'></span>
                  </div>
                  <button type='button' id='close-preview'>
                    <ion-icon name="close-outline"  style="zoom:2.0;"></ion-icon>
                  </button>
                </div>
              </section>
              <button type="submit">Submit Review</button>
            </form>
          </div>
          <div class="thank-you-message" style="display: none;">
            <h2>Thank You!</h2>
            <p>Your review has been submitted successfully.</p>
          </div>
        </div>
      </div>
    </div>
</div>

{% javascript %}
  const reviewsProductId = '{{ reviews_product_id }}';

  document.addEventListener('DOMContentLoaded', () => {
    const parentContainer = '.yc-product-reviews';

    fetchReviewsForProduct(reviewsProductId, parentContainer, {{ product.averageRating }});
  });
{% endjavascript %}

{{ 'reviews.js' | asset_url | script_tag_deferred }}
