{% assign id = 100 | rand: 2000 %}

{{ 'product.css' | asset_url | stylesheet_tag }}

{%- style -%}
.product_customization-{{ id }} {
  padding-top: {{ section.settings.space_top }}px;
  padding-bottom: {{ section.settings.space_bottom }}px;
}

.countdown-container {
  background-color: {{ block.settings.background_color.hex }};
  color: {{ block.settings.text_color.hex }};
}
{%- endstyle -%}

<div class='container yc-single-product single-product-placeholder'>
  <div class='product-images'>
    {% render 'product-placeholder-svg', svg_name: 'Single Product' %}
  </div>
  <div class='product-details'>
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'product_title' -%}
          <h1 class='product-name'>Placeholder Product Name</h1>
        {%- when 'product_price' -%}
          <div class='product-price-container'>
            <h2 class='product-price'>{{ "19.99" | money }}</h2>
          </div>
        {%- when 'product_description' -%}
          <p class='product-description'>This is a placeholder description for the product.</p>
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>

