{% assign count = 0 %}

<style>
  .slide-box {
    -webkit-justify-content: flex-end;
    align-items: flex-end;
    -webkit-align-items: flex-end;
  }
  .slide-content-box {
    padding: 80px 20px;
  }
  .slide-content-box-button {
    margin-top: calc(var(--slider-height) / 5);
    width: max-content;
    padding: 12px 42px;
  }
  </style>

<div
  class='splide yc-slider__{{ view }}'
  id='yc_slider_{{ id }}'
>
  <div class='splide__track'>
    <ul class='splide__list'>
      {%- for block in blocks %}
        {% assign count = count | plus: 1 %}
        <li
          class='splide__slide'
          {{ block.youcan_attributes }}
        >
          <img
            loading='lazy'
            src='{%- if block.settings.image.src -%} {{ block.settings.image.src }} {%- else -%} {{ 'hero.png' | asset_url }} {%- endif -%}'
          >
          {%- if block.settings.caption %}
            <div class='content flex items-center h-full w-full slide-box'>
              <div class='container flex items-center justify-center slide-content-box'>
                <div>
                  <div class='caption'>{{ block.settings.caption }}</div>
                  {% if block.settings.product %}
                    <div class='btn-holder'>
                      <a
                        href='{{ block.settings.product.url }}'
                        class='yc-btn'
                        style='font-weight: {{ block.settings.button_font_weight }}!important'
                      >
                        {{ block.settings.button_text }}
                      </a>
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          {%- endif %}
        </li>
      {%- endfor %}
    </ul>
  </div>
</div>

{% style %}
  #yc_slider_{{ id }} .splide__arrows {
    display: none;

    {% if count > 1 %}
      display: flex;
    {% endif %}
  }

  {% if slider_pagination and count > 1 %}
    #yc_slider_{{ id }}.yc-slider__desktop .splide__pagination {
      display: block !important;
      text-align: center;
    }
  {% endif %}

  {% if slider_mobile_pagination and count > 1 %}
    #yc_slider_{{ id }}.yc-slider__mobile .splide__pagination {
      display: block !important;
      text-align: center;
    }
  {% endif %}
{% endstyle %}
