{% assign id = 100 | rand: 2000 %}

{% style %}
.section-slider-{{ id }} #yc_slider_{{ id }} .splide__arrow {
    --slider-height: {{- section.settings.slider_height_percentage -}}vh;
  }
  
  .section-slider-{{ id }} #yc_slider_{{ id }} .splide__arrow {
    background: {{ section.settings.slider_desktop_arrows_background_color.hex }} !important;
    width: 54px;
    height: 54px;
    margin: 0 100px;
  }

  .section-slider-{{ id }} #yc_slider_{{ id }} .splide__arrow--next {
    border-radius: 8px;
  }

  .section-slider-{{ id }} #yc_slider_{{ id }} .splide__arrow--prev {
    border-radius: 8px;
  }

  .section-slider-{{ id }} #yc_slider_{{ id }} .splide__arrow svg {
    height: {{ section.settings.slider_arrows_size }}px;
    width: {{ section.settings.slider_arrows_size }}px;
  }

  .section-slider-{{ id }} #yc_slider_{{ id }} .content {
    background-color: {{ section.settings.slider_overlay_background_color.hex }};
  }

  .section-slider-{{ id }} .yc-slider__desktop .caption > * {
    color: {{ section.settings.caption_text_color.hex }};
  }

  .section-slider-{{ id }} .yc-slider__mobile .caption > * {
    color: {{ section.settings.caption_text_color.hex }};
  }
{% endstyle %}

{{ 'splide.min.css' | asset_url | stylesheet_tag }}
{{ 'desktop-slider.css' | asset_url | stylesheet_tag }}
{{ 'mobile-slider.css' | asset_url | stylesheet_tag }}
{{ 'splide.min.js' | asset_url | script_tag }}

<section class="section-slider-{{ id }}">
  {% render 'slider', blocks: section.blocks, id: id , view: 'desktop' slider_pagination: section.settings.slider_pagination %}
  {% render 'slider', blocks: section.blocks, id: id , view: 'mobile' slider_mobile_pagination: section.settings.slider_mobile_pagination %}
</section>

<script>
  (function(){
    const isMobile = window.matchMedia("(max-width: 760px)");
    const slider = document.querySelector(`#yc_slider_{{ id }}`);

    const desktopSlider = new Splide(`#yc_slider_{{ id }}.yc-slider__desktop`, {
      type: '{{ section.settings.slider_transition_type }}',
      arrows: '{{ section.settings.slider_arrows }}' ? true : false,
      autoplay: '{{ section.settings.slider_autoplay }}' ? true : false,
      cover: true,
      pagination: '{{ section.settings.slider_pagination }}' ? true : false,
      pauseOnHover: '{{ section.settings.slider_pause_on_hover }}' ? true : false,
      pauseOnFocus: '{{ section.settings.slider_pause_on_focus }}' ? true : false,
      height: `{{ section.settings.slider_height_percentage }}vh`,
      interval: '{{ section.settings.duration_between_each_slide | times: 1000 }}',
      focus: 'center',
      rewind: true,
      drag: 'free',
      snap: true,
      loop: true,
    });

    const mobileSlider = new Splide(`#yc_slider_{{ id }}.yc-slider__mobile`, {
      type: '{{ section.settings.slider_mobile_transition_type }}',
      autoplay: '{{ section.settings.slider_mobile_autoplay }}' ? true : false,
      cover: true,
      arrows: false,
      pagination: '{{ section.settings.slider_mobile_pagination }}' ? true : false,
      height: `{{ section.settings.slider_mobile_height_percentage }}vh`,
      interval: '{{ section.settings.slider_mobile_timeout | times: 1000 }}',
      focus: 'center',
      rewind: true,
      drag: 'free',
      snap: true,
      loop: true,
    });

    mountSlider(isMobile, mobileSlider, desktopSlider);
  })();
</script>

{%- schema -%}
{
  "label": "Slider",
  "templates": ["index", "page"],
  "settings": [
    {
      "type": "header",
      "content": "🖥 Desktop slider settings"
    },
    {
      "type": "paragraph",
      "content": "ℹ️ These settings will be applied to desktop devices."
    },
    {
      "type": "color",
      "id": "caption_text_color",
      "label": "Caption text color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "slider_overlay_background_color",
      "label": "Overlay background color",
      "default": "##00000000",
      "maintain-opacity": true
    },
    {
      "type": "range",
      "id": "slider_height_percentage",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Slider height",
      "default": 50
    },
    {
      "type": "checkbox",
      "id": "slider_arrows",
      "label": "Arrows",
      "default": true
    },
    {
      "type": "range",
      "id": "slider_arrows_size",
      "min": 10,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Arrows size",
      "default": 14
    },
    {
      "type": "color",
      "id": "slider_desktop_arrows_background_color",
      "label": "Arrows background color",
      "default": "#FFFFFF"
    },
    {
      "type": "select",
      "id": "slider_transition_type",
      "label": "Transition type",
      "options": [
        {
          "value": "slide",
          "label": "Slide"
        },
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "loop",
          "label": "Loop"
        }
      ],
      "default": "loop"
    },
    {
      "type": "range",
      "id": "duration_between_each_slide",
      "min": 1,
      "max": 15,
      "step": 1,
      "unit": "sec",
      "label": "Duration between each slide",
      "default": 5
    },
    {
      "type": "checkbox",
      "id": "slider_autoplay",
      "label": "Autoplay",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "slider_pause_on_hover",
      "label": "Pause on hover",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "slider_pause_on_focus",
      "label": "Pause on focus",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "slider_pagination",
      "label": "Pagination",
      "default": true
    },
    {
      "type": "header",
      "content": "📱 Mobile slider settings"
    },
    {
      "type": "paragraph",
      "content": "ℹ️ These settings will be applied to mobile devices."
    },
    {
      "type": "range",
      "id": "slider_mobile_height_percentage",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Slider height",
      "default": 60
    },
    {
      "type": "range",
      "id": "slider_mobile_timeout",
      "min": 1,
      "max": 15,
      "step": 1,
      "unit": "s",
      "label": "Timeout",
      "default": 5
    },
    {
      "type": "select",
      "id": "slider_mobile_transition_type",
      "label": "Transition type",
      "options": [
        {
          "value": "slide",
          "label": "Slide"
        },
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "loop",
          "label": "Loop"
        }
      ],
      "default": "loop"
    },
    {
      "type": "checkbox",
      "id": "slider_mobile_autoplay",
      "label": "Autoplay",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "slider_mobile_pagination",
      "label": "Pagination",
      "default": true
    }
  ],
  "blocks": [
    {
      "label": "Slider image",
      "limit": 6,
      "type": "image_picker",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "To ensure your images look great and load quickly, use a size of \"1920px x 1080px\" (16:9 aspect ratio)."
        },
        {
          "type": "richtext",
          "id": "caption",
          "label": "Slider content"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Link button to product"
        },
        {
          "type": "select",
          "id": "button_font_weight",
          "label": "Button font weight level",
          "options": [
            {
              "value": "100",
              "label": "100"
            },
            {
              "value": "200",
              "label": "200"
            },
            {
              "value": "300",
              "label": "300"
            },
            {
              "value": "400",
              "label": "400"
            },
            {
              "value": "500",
              "label": "500"
            },
            {
              "value": "600",
              "label": "600"
            },
            {
              "value": "700",
              "label": "700"
            },
            {
              "value": "800",
              "label": "800"
            },
            {
              "value": "900",
              "label": "900"
            }
          ],
          "default": "500"
        }
      ]
    }
  ]
}
{%- endschema -%}
