{{ 'featured-collections.css' | asset_url | stylesheet_tag }}

{% style %}
  .yc-section-title {
    display: flex;
    justify-content: {{ section.settings.section_title_position }};
  }

  .categories-spacing {
    margin-top: {{ section.settings.space_top }}px;
    margin-bottom: {{ section.settings.space_bottom }}px;
  }

  .category-name {
    color: {{ section.settings.category_name_color.hex }};
  }

  .slug-name {
    color: {{ section.settings.category_slug_color.hex }};
  }
{% endstyle %}
<div class="yc-featured-container categories-spacing">
  <h1 class='yc-section-title'>
    {{ section.settings.title }}
  </h1>
  <div class='yc-featured-collections'>
  {%- for block in section.blocks -%}
    <div class='categories-container'>
      <div class='category-block'>
        <div
          class='product-block'
          {{ block.youcan_attributes }}>
          <div class="category-text">
            <h2 class="category-name">{{ block.settings.category.name }}</h2>
            <p class="slug-name">{{ block.settings.category_name }}</p>
            {% if block.settings.category.slug %}
              <div class="category-link">
                <a href='/collections/{{ block.settings.category.slug }}'>
                  عرض المزيد
                </a>
              </div>
            {% endif %}
          </div>
          {% if block.settings.category.image %}
              <img src='{{ block.settings.category.image }}' class="category-img">
          {% endif %}
        </div>
        </div>
      </div>
    {%- endfor -%}
    </div>

{%- schema -%}
  {
    "label": "Featured collections",
    "settings": [
      {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
      {
      "type": "select",
      "id": "section_title_position",
      "label": "Title position",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
      {
        "type": "color",
        "id": "category_name_color",
        "label": "Category name color"
      },
      {
        "type": "color",
        "id": "category_slug_color",
        "label": "Category slug color"
      },
      {
        "type": "range",
        "id": "space_top",
        "label": "Space top",
        "min": 10,
        "max": 100,
        "default": 10,
        "step": 1
      },
      {
        "type": "range",
        "id": "space_bottom",
        "label": "Space bottom",
        "min": 10,
        "max": 100,
        "default": 10,
        "step": 1
      }
    ],
    "blocks": [
      {
        "label": "Category",
        "limit": 4,
        "type": "category",
        "settings": [
          {
            "type": "category",
            "id": "category",
            "label": "Category"
          },
          {
            "type": "text",
            "id": "category_name",
            "label": "Category name"
          }
        ]
      }
    ]
  }
{%- endschema -%}
