{{ 'hot-featured-products.css' | asset_url | stylesheet_tag }}

{% assign id = 100 | rand: 2000 %}

{% style %}
  .section-featured-products-{{id}} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  .section-featured-products-{{id}} .yc-hot-products {
    justify-content: {{ section.settings.section_title_position }};
  }
{% endstyle %}

<div class='yc-featured-products section-featured-products-{{id}} container'>
    <div class="yc-hot-products">
      <img 
          loading='lazy'
          src='{%- if section.settings.image.src -%} {{ section.settings.image.src }} {%- else -%} {{ 'hot.png' | asset_url }} {%- endif -%}'
        >
      <h1 class='yc-hot-title'>
        {{ section.settings.title }}
      </h1>
    </div>
    <div class='hot-product-list'>
      {%- for block in section.blocks -%}
        <div class="product-box">
          {%- render 'hot-product-preview', item: block.settings.product, block_settings: block.settings -%}
        </div>
      {%- endfor -%}
    </div>
</div>

{%- schema -%}
{
  "label": "Hot products",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "checkbox",
      "id": "show_compare_at_price",
      "label": "Show compare at price",
      "default": true
    },
    {
      "type": "select",
      "id": "section_title_position",
      "label": "Title position",
      "options": [
        {
          "label": "left",
          "value": "left"
        },
        {
          "label": "right",
          "value": "right"
        },
        {
          "label": "center",
          "value": "center"
        }
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 5,
      "max": 160,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 5,
      "max": 160,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 80
    }
  ],
  "blocks": [
    {
      "label": "Product",
      "type": "product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "text",
          "id": "tag_text",
          "label": "Banner text"
        },
        {
          "type": "color",
          "id": "tag_color",
          "label": "Banner color",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "tag_text_color",
          "label": "Banner text color",
          "default": "#ffffff"
        },
        {
          "type": "select",
          "id": "tag_position",
          "label": "Banner position",
          "options": [
            {
              "label": "Top Right",
              "value": "top_right"
            },
            {
              "label": "Top Left",
              "value": "top_left"
            },
            {
              "label": "Bottom Right",
              "value": "bottom_right"
            },
            {
              "label": "Bottom Left",
              "value": "bottom_left"
            }
          ],
          "default": "top_right"
        }
      ]
    }
  ]
}
{%- endschema -%}
