{{ 'featured-collections.css' | asset_url | stylesheet_tag }}
{% assign id = 100 | rand: 2000 %}

{% style %}
  .section-featured-collections-{{id}} .yc-featured-container{
    justify-content: {{ section.settings.section_title_position }};
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
{% endstyle %}

<div class='yc-featured-collections section-featured-collections-{{id}} container'>
  <div class="yc-featured-container">
    <img
      loading='lazy'
      src='{{ section.settings.image.src }}'
    >
    <h1 class='yc-section-title'>
      {{ section.settings.title }}
    </h1>
  </div>
  <div class='collections-list'>
    {%- for block in section.blocks -%}
      {%- render 'collection-preview', category: block.settings.category -%}
    {%- endfor -%}
  </div>
</div>

{%- schema -%}
{
  "label": "Featured collections",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "section_title_position",
      "label": "Title position",
      "options": [
        {
          "label": "left",
          "value": "left"
        },
        {
          "label": "right",
          "value": "right"
        },
        {
          "label": "center",
          "value": "center"
        }
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 5,
      "max": 160,
      "step": 1,
      "unit": "px",
      "label": "Padding Top"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 5,
      "max": 160,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom"
    }
  ],
  "blocks": [
    {
      "label": "Category",
      "type": "category",
      "settings": [
        {
          "type": "category",
          "id": "category",
          "label": "Category"
        }
      ]
    }
  ]
}
{%- endschema -%}
