<div class='yc-featured-products container'>
	<h1 class='section-title'>Featured products</h1>
	<div class='product-list'>
		{%- for block in section.blocks -%}
			<div class='product-block' {{ block.youcan_attributes }}>
				<div class='product-thumbnail'>
					{% if block.settings.product.thumbnail %}
						<img src='{{ block.settings.product.thumbnail }}'>
					{% else %}
						<img src='{{ 'fallback-product-img.webp' | asset_url }}'>
					{% endif %}
				</div>
				<div class='product-details'>
					<span class='product-title'>{{ block.settings.product.name }}</span>
					{% if block.settings.product.price %}
						<span class='product-price'>{{ block.settings.product.price | money }}</span>
					{% endif %}
				</div>

				<a class='yc-btn' href='{{ block.settings.product.url }}'>Shop now</a>
			</div>
		{%- endfor -%}
	</div>
</div>

{%- schema -%}
{
	"label": "Featured products",
	"blocks": [
		{
			"label": "Product",
			"limit": 4,
			"type": "product",
			"settings": [
				{
					"type": "product",
					"id": "product",
					"label": "Product"
				}
			]
		}
	]
}
{%- endschema -%}
