{% assign id = 100 | rand: 2000 %}

{% style %}
  .section-featured-products-{{id}} {
    padding-top: {{ section.settings.space_top }}px;
    padding-bottom: {{ section.settings.space_bottom }}px;
  }

  .section-featured-products-{{id}} .yc-section-title {
    display: flex;
    justify-content: {{ section.settings.section_title_position }}
  }

  .section-featured-products-{{id}} * {
    color: {{ section.settings.text_color.hex }};
  }

  @media screen and (max-width: 768px) {
    .section-featured-products-{{id}} .product-container-{{id}} {
      grid-template-columns: repeat({{ section.settings.rows_mobile }}, minmax(0, 1fr)) !important;
    }
  }
{% endstyle %}

<div class='yc-featured-products section-featured-products-{{id}} container'>
  <h1 class='yc-section-title'>
    {{ section.settings.title }}
  </h1>
  <div class='product-list product-container-{{id}}'>
    {%- for block in section.blocks -%}
      <div
        {{ block.youcan_attributes }}
        class='product-block'
      >
        {%- render 'product-preview', item: block.settings.product, block_settings: block.settings -%}
      </div>
    {%- endfor -%}
  </div>
</div>

{%- schema -%}
{
  "label": "Featured products",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "select",
      "id": "section_title_position",
      "label": "Title position",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "range",
      "id": "rows_mobile",
      "label": "Number of columns on mobile",
      "min": 1,
      "max": 2,
      "step": 1,
      "default": 2
    },
    {
      "type": "range",
      "id": "space_top",
      "min": 5,
      "max": 160,
      "step": 1,
      "unit": "px",
      "label": "Space top",
      "default": 80
    },
    {
      "type": "range",
      "id": "space_bottom",
      "min": 5,
      "max": 160,
      "step": 1,
      "unit": "px",
      "label": "Space bottom",
      "default": 80
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color"
    },
    {
      "type": "checkbox",
      "id": "show_compare_at_price",
      "label": "Show compare at price",
      "default": true
    }
  ],
  "blocks": [
    {
      "label": "Product",
      "type": "product",
      "limit": 8,
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "header",
          "content": "Banners"
        },
        {
          "type": "select",
          "id": "tag_position",
          "label": "Banner position",
          "options": [
            {
              "label": "Top right",
              "value": "top_right"
            },
            {
              "label": "Top left",
              "value": "top_left"
            },
            {
              "label": "Bottom right",
              "value": "bottom_right"
            },
            {
              "label": "Bottom left",
              "value": "bottom_left"
            }
          ],
          "default": "top_right"
        },
        {
          "type": "header",
          "content": "1st banner"
        },
        {
          "type": "text",
          "id": "tag_text",
          "label": "Banner text"
        },
        {
          "type": "color",
          "id": "tag_color",
          "label": "Banner background color",
          "default": "#FFFFFFFF"
        },
        {
          "type": "color",
          "id": "tag_text_color",
          "label": "Banner text color",
          "default": "#E52B2AFF"
        },
        {
          "type": "header",
          "content": "2nd banner"
        },
        {
          "type": "text",
          "id": "price_reduction_text",
          "label": "Banner price text"
        },
        {
          "type": "color",
          "id": "tag_price_color",
          "label": "Price reduction background color",
          "default": "#E52B2AFF"
        },
        {
          "type": "color",
          "id": "price_reduction_text_color",
          "label": "Price reduction text color",
          "default": "#ffffff"
        }
      ]
    }
  ]
}
{%- endschema -%}
