{{ 'product-slider.css' | asset_url | stylesheet_tag }}
{{ 'splide.min.css' | asset_url | stylesheet_tag }}
{{ 'splide.min.js' | asset_url | script_tag }}
{{ 'featured-products.css' | asset_url | stylesheet_tag }}

{% assign id = 100 | rand: 2000 %}

{% style %}
  .section-featured-products-{{ id }} {
    margin-top: {{ section.settings.space_top }}px;
    margin-bottom: {{ section.settings.space_bottom }}px;
  }

  @media screen and (min-width: 768px) {
    .section-featured-products-{{ id }} {
      padding: 0 70px;
    }
  }

  @media screen and (min-width: 1024px) {
    .section-featured-products-{{ id }} {
      padding: 0 100px;
    }
  }

  @media screen and (min-width: 1440px) {
    .section-featured-products-{{ id }} {
      padding: 0 150px;
    }
  }

  .section-featured-products-{{ id }} {
    {% if section.settings.background_color %}
    background-color: {{ section.settings.background_color.hex }};
    {% else %}
    background-color: var(--yc-primary-color);
    {% endif %}
  }

  .section-featured-products-{{ id }} * {
    color: {{ section.settings.text_color.hex }};
  }

  .section-featured-products-{{ id }} .countdown-wrapper .countdown .num {
    border-color: {{ section.settings.text_color.hex }};
  }
{% endstyle %}

<div class='yc-featured-products section-featured-products-{{ id }}'>
  <div class='container'>
    <h1 class='yc-section-title'>
      {{ section.settings.title }}
    </h1>
    <div class="counter-wrapper">
      {% if section.settings.countdown_enabled %}
        {%- render 'countdown', section_settings: section.settings -%}
      {% endif %}
    </div>

    {%- render 'product-slider', blocks: section.blocks, id: id , view: 'desktop' -%}
    {%- render 'product-slider', blocks: section.blocks, id: id , view: 'mobile'  -%}
  </div>
</div>

<script defer>
  const setupProductsSlider = () => {
    const isMobile = window.matchMedia("(max-width: 768px)");
    const productSize = {{ section.blocks.size }};
    let perPage = 4;
    if (productSize < 4) {
      perPage = productSize;
    }

    const desktopSlider = new Splide(`#yc_slider_{{ id }}.yc-slider__desktop`, {
      arrowPath: 'M0.821351 2.8036C0.699407 2.68165 0.602677 2.53688 0.536681 2.37755C0.470685 2.21822 0.436716 2.04746 0.436716 1.875C0.436716 1.70254 0.470685 1.53178 0.536681 1.37245C0.602677 1.21312 0.699407 1.06835 0.821352 0.946406C0.943297 0.824462 1.08807 0.72773 1.2474 0.661734C1.40672 0.595738 1.57749 0.56177 1.74995 0.56177C1.9224 0.56177 2.09317 0.595738 2.2525 0.661734C2.41183 0.727731 2.5566 0.824462 2.67854 0.946406L15.8035 14.0714C15.9256 14.1933 16.0224 14.3381 16.0884 14.4974C16.1545 14.6567 16.1885 14.8275 16.1885 15C16.1885 15.1725 16.1545 15.3433 16.0884 15.5026C16.0224 15.6619 15.9256 15.8067 15.8035 15.9286L2.67854 29.0536C2.43226 29.2999 2.09823 29.4382 1.74994 29.4382C1.40165 29.4382 1.06763 29.2999 0.821349 29.0536C0.575071 28.8073 0.436713 28.4733 0.436713 28.125C0.436713 27.7767 0.575072 27.4427 0.821349 27.1964L13.0194 15L0.821351 2.8036Z',
      type: '{{ section.settings.slider_transition_type }}',
      arrows: '{{ section.settings.slider_arrows }}' ? true : false,
      autoplay: '{{ section.settings.slider_autoplay }}' ? true : false,
      cover: true,
      pagination: '{{ section.settings.slider_pagination }}' ? true : false,
      pauseOnHover: '{{ section.settings.slider_pause_on_hover }}' ? true : false,
      pauseOnFocus: '{{ section.settings.slider_pause_on_focus }}' ? true : false,
      interval: '{{ section.settings.slider_timeout | times: 1000 }}',
      rewind: true,
      drag: 'free',
      perPage: perPage,
      perMove: 1,
      snap: true,
      gap: '20px',
      breakpoints: {
      1024: {
        perPage: perPage >= 3 ? 3 : perPage,
      },
      },
    });

    const mobileSlider = new Splide(`#yc_slider_{{ id }}.yc-slider__mobile`, {
      type: '{{ section.settings.slider_mobile_transition_type }}',
      autoplay: '{{ section.settings.slider_mobile_autoplay }}' ? true : false,
      cover: true,
      pagination: '{{ section.settings.slider_mobile_pagination }}' ? true : false,
      interval: '{{ section.settings.slider_mobile_timeout | times: 1000 }}',
      rewind: true,
      drag: 'free',
      perPage: 2,
      perMove: 1,
      gap: '12px',
      snap: true,
    });

    const mountSlider = () => {
      try {
        if (isMobile.matches) return mobileSlider.mount();

        return desktopSlider.mount();
      } catch {
        return;
      }
    }

    mountSlider();
    isMobile.addEventListener('change', mountSlider);
  }

  document.addEventListener('DOMContentLoaded', () => {
    setupProductsSlider();
  });
</script>

{%- schema -%}
{
  "label": "Products slider",
  "templates": ["index", "page"],
  "limit": 1,
  "settings": [
     {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
     {
      "type": "range",
      "id": "space_top",
      "min": 0,
      "max": 160,
      "step": 1,
      "unit": "px",
      "label": "Space top",
      "default": 20
    },
    {
      "type": "range",
      "id": "space_bottom",
      "min": 5,
      "max": 160,
      "step": 1,
      "unit": "px",
      "label": "Space bottom",
      "default": 20
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color"
    },
    {
      "type": "header",
      "content": "Countdown settings"
    },
    {
      "type": "paragraph",
      "content": "ℹ️ If you want to show countdown on this section, please enable it and set the date and time."
    },
    {
      "type": "checkbox",
      "id": "countdown_enabled",
      "label": "Enable countdown"
    },
    {
      "label": "Message",
      "id": "countdown_message",
      "type": "richtext",
      "default": "Hurry up! There aren't many items left in stock."
    },
    {
      "label": "Message color",
      "id": "countdown_message_color",
      "type": "color"
    },
    {
      "label": "Year",
      "id": "countdown_year",
      "type": "number",
      "default": 0
    },
    {
      "label": "Month",
      "id": "countdown_month",
      "type": "number",
      "default": 0
    },
    {
      "label": "Day",
      "id": "countdown_day",
      "type": "number",
      "default": 0
    },
    {
      "label": "Hour",
      "id": "countdown_hour",
      "type": "number",
      "default": 0
    },
    {
      "label": "Minutes",
      "id": "countdown_minute",
      "type": "number",
      "default": 0
    },
     {
      "type": "checkbox",
      "id": "show_compare_at_price",
      "label": "Show compare at price",
      "default": true
    },
    {
      "type": "header",
      "content": "👉 Desktop Slider Settings"
    },
    {
      "type": "paragraph",
      "content": "ℹ️ These settings will be applied to desktop devices."
    },
    {
      "type": "range",
      "id": "slider_timeout",
      "min": 1,
      "max": 15,
      "step": 1,
      "unit": "sec",
      "label": "Timeout between slides",
      "default": 5
    },
    {
      "type": "select",
      "id": "slider_transition_type",
      "label": "Transition type",
      "options": [
        {
          "value": "slide",
          "label": "Slide"
        },
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "loop",
          "label": "Loop"
        }
      ],
      "default": "loop"
    },
    {
      "type": "checkbox",
      "id": "slider_autoplay",
      "label": "Autoplay",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "slider_pause_on_hover",
      "label": "Pause on hover",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "slider_pause_on_focus",
      "label": "Pause on focus",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "slider_pagination",
      "label": "Pagination",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "slider_arrows",
      "label": "Arrows",
      "default": true
    },
    {
      "type": "header",
      "content": "👉 Mobile Slider Settings"
    },
    {
      "type": "paragraph",
      "content": "ℹ️ These settings will be applied to mobile devices."
    },
    {
      "type": "range",
      "id": "slider_mobile_timeout",
      "min": 1,
      "max": 15,
      "step": 1,
      "unit": "s",
      "label": "Timeout",
      "default": 5
    },
    {
      "type": "select",
      "id": "slider_mobile_transition_type",
      "label": "Transition type",
      "options": [
        {
          "value": "slide",
          "label": "Slide"
        },
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "loop",
          "label": "Loop"
        }
      ],
      "default": "loop"
    },
    {
      "type": "checkbox",
      "id": "slider_mobile_autoplay",
      "label": "Autoplay",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "slider_mobile_pagination",
      "label": "Pagination",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "slider_mobile_arrows",
      "label": "Arrows",
      "default": true
    }
  ],
  "blocks": [
    {
      "label": "Product",
      "type": "product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "text",
          "id": "tag_text",
          "label": "Banner text"
        },
        {
          "type": "color",
          "id": "tag_color",
          "label": "Banner color",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "tag_text_color",
          "label": "Banner text color",
          "default": "#ffffff"
        },
        {
          "type": "select",
          "id": "tag_position",
          "label": "Banner position",
          "options": [
            {
              "label": "Top right",
              "value": "top_right"
            },
            {
              "label": "Top left",
              "value": "top_left"
            },
            {
              "label": "Bottom right",
              "value": "bottom_right"
            },
            {
              "label": "Bottom left",
              "value": "bottom_left"
            }
          ],
          "default": "top_right"
        }
      ]
    }
  ]
}
{%- endschema -%}
