{{ 'featured-collections.css' | asset_url | stylesheet_tag }}
{% assign id = 100 | rand: 2000 %}

{% style %}
  .section-featured-collections-{{ id }} {
    padding-top: {{ section.settings.space_top }}px;
    padding-bottom: {{ section.settings.space_bottom }}px;
  }

  .section-featured-collections-{{ id }} .yc-section-title{
    text-align: {{ section.settings.section_title_position }};
  }
{% endstyle %}

<div class='yc-featured-collections section-featured-collections-{{ id }} container'>
  <div class="yc-featured-container">
    <h1 class='yc-section-title'>
      {{ section.settings.title }}
    </h1>
  </div>
  <div class='collections-list'>
    {%- for block in section.blocks -%}
      {%- render 'collection-preview', category: block.settings.category -%}
    {%- endfor -%}
  </div>
</div>

{%- schema -%}
{
  "label": "Featured collections",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "select",
      "id": "section_title_position",
      "label": "Title position",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "range",
      "id": "space_top",
      "min": 5,
      "max": 160,
      "step": 1,
      "unit": "px",
      "label": "Space top"
    },
    {
      "type": "range",
      "id": "space_bottom",
      "min": 5,
      "max": 160,
      "step": 1,
      "unit": "px",
      "label": "Space bottom"
    }
  ],
  "blocks": [
    {
      "label": "Category",
      "type": "category",
      "settings": [
        {
          "type": "category",
          "id": "category",
          "label": "Category"
        }
      ]
    }
  ]
}
{%- endschema -%}
