{%- assign category = section.settings.category -%}
{%- assign number_of_products = section.settings.number_of_products -%}
{% assign id = 100 | rand: 2000 %}

{{ 'featured-products-by-category.css' | asset_url | stylesheet_tag }}

{% style %}
  .section-featured-products-by-category-{{id}}{
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  .section-featured-products-by-category-{{id}} .yc-section-title{
    text-align: {{ section.settings.section_title_position }}
  }
  .section-featured-products-by-category-{{id}} {
    {% if section.settings.background_color.hex %}
    background-color: {{ section.settings.background_color.hex }};
    {% endif %}
    background-repeat: repeat;
    background-position: center;
    background-size: 10rem;
  }
  .section-featured-products-by-category-{{id}} * {
    color: {{ section.settings.text_color.hex }};
  }

{% endstyle %}

{% if category %}
  <div class='yc-featured-products-by-category container section-featured-products-by-category-{{id}}'>
      <h1 class='yc-section-title'>{{ category.name }}</h1>
      <div class='product-list'>
        {%- paginate collection.products by number_of_products id category_id: category.id %}
          {%- for item in items -%}
          <div {{ block.youcan_attributes }} class="product-item-{{id}}">
            {%- render 'product-preview', item: item -%}
          </div>
          {%- endfor -%}
        {%- endpaginate %}
      </div>
      {% if section.settings.link_of_collection_by_category == true %}
        <div class='button-container'>
          <a href='/collections/{{ category.slug }}' class='yc-btn-tertiary'>{{ 'general.show_more_button' | t }}</a>
        </div>
      {% endif %}
    </div>
{% endif %}

{%- schema -%}
{
  "label": "Featured products by category",
  "settings": [
    {
      "type": "category",
      "id": "category",
      "label": "Category"
    },
    {
      "type": "select",
      "id": "section_title_position",
      "label": "Title position",
      "options": [
        {
          "label": "left",
          "value": "left"
        },
        {
          "label": "right",
          "value": "right"
        },
        {
          "label": "center",
          "value": "center"
        }
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 5,
      "max": 160,
      "step": 1,
      "unit": "px",
      "label": "Padding Top"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 5,
      "max": 160,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom"
    },
    {
      "type": "number",
      "id": "number_of_products",
      "label": "Number of products to showcase",
      "default": 8
    },
    {
      "type": "checkbox",
      "id": "show_compare_at_price",
      "label": "Show compare at price",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "link_of_collection_by_category",
      "label": "Link of collection by category",
      "default": true
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color"
    }
  ]
}
{%- endschema -%}
