{{ 'featured-collections.css' | asset_url | stylesheet_tag }}

{% assign id = 100 | rand: 2000 %}

{% style %}
  .section-featured-collections-{{ id }} .yc-section-title {
    display: flex;
    justify-content: {{ section.settings.section_title_position }};
  }

  .section-featured-collections-{{ id }} {
    margin-top: {{ section.settings.space_top }}px;
    margin-bottom: {{ section.settings.space_bottom }}px;
  }

  .section-featured-collections-{{ id }} .category-name {
    color: {{ section.settings.category_title_color.hex }};
  }
{% endstyle %}

<section class="section-featured-collections-{{ id }} yc-featured-container container">
  <h1 class='yc-section-title'>
    {{ section.settings.title }}
  </h1>
  <div class='yc-featured-collections'>
    {%- for block in section.blocks -%}
      <div class='categories-container'>
        <div class='category-block'>
          <div class='product-block' {{ block.youcan_attributes }}>
            <div class="category-text">
              <h2 class="category-name">{{ block.settings.category.name }}</h2>
              {% if block.settings.category.slug %}
                <div class="category-link">
                  <a href='/collections/{{ block.settings.category.slug }}'>
                    {{ 'general.show_more_button' | t }}
                  </a>
                </div>
              {% endif %}
            </div>
            {% if block.settings.category.image %}
                <img src='{{ block.settings.category.image }}' class="category-img">
            {% endif %}
          </div>
        </div>
      </div>
    {%- endfor -%}
  </div>
</section>

{%- schema -%}
  {
    "label": "Featured collections",
    "templates": ["index", "product", "page"],
    "settings": [
      {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "تصنيفات رائجة"
    },
      {
      "type": "select",
      "id": "section_title_position",
      "label": "Title position",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ],
      "default": "right"
    },
      {
        "type": "color",
        "id": "category_title_color",
        "label": "Category title color",
        "default": "#FFFFFFFF"
      },
      {
        "type": "range",
        "id": "space_top",
        "min": 5,
        "max": 160,
        "step": 1,
        "unit": "px",
        "label": "Space top",
        "default": 10
      },
      {
        "type": "range",
        "id": "space_bottom",
        "min": 5,
        "max": 160,
        "step": 1,
        "unit": "px",
        "label": "Space bottom",
        "default": 10
      }
    ],
    "blocks": [
      {
        "label": "Category",
        "limit": 4,
        "type": "category",
        "settings": [
          {
            "type": "category",
            "id": "category",
            "label": "Category",
            "info": "To ensure your images look great and load quickly, use a size of \"280px x 350px\" (4:5 aspect ratio)."
          }
        ]
      }
    ]
  }
{%- endschema -%}
