{{ 'product-slider.css' | asset_url | stylesheet_tag }}
{{ 'splide.min.css' | asset_url | stylesheet_tag }}
{{ 'splide.min.js' | asset_url | script_tag }}
{{ 'countdown.css' | asset_url | stylesheet_tag }}

{% assign id = 100 | rand: 2000 %}

{% style %}
  .section-featured-products-{{id}} {
    margin-top: {{ section.settings.space_top }}px;
    margin-bottom: {{ section.settings.space_bottom }}px;
  }

  .counter-wrapper .product-slider-title {
    color: {{ section.settings.text_color.hex }};
  }

  .section-featured-products-{{id}} {
    {% if section.settings.background_color %}
      background-color: {{ section.settings.background_color.hex }};
    {% endif %}
  }

  .section-featured-products-{{id}} * {
    color: {{ section.settings.text_color.hex }};
  }

  .section-featured-products-{{id}} .countdown-wrapper .countdown .num {
    border-color: {{ section.settings.text_color.hex }};
  }

{% endstyle %}

<div class='yc-featured-products section-featured-products-{{id}} container'>
    <div class="counter-wrapper">
          <h1 class='product-slider-title'>
            {{ section.settings.title }}
          </h1>
          {% if section.settings.countdown_enabled %}
            {%- render 'countdown', section_settings: section.settings -%}
          {% endif %}
          <div class="slider-arrows"></div>
    </div>

      {%- render 'product-slider', blocks: section.blocks, id: id , view: 'desktop' -%}
      {%- render 'product-slider', blocks: section.blocks, id: id , view: 'mobile'  -%}
</div>
<script defer>
  const isMobile1 = window.matchMedia("(max-width: 768px)");
  const products = {{ section.blocks.size }};
      let perPage = 4;
      if (products < 4) {
        perPage = products;
      }
  const desktopSlider1 = new Splide(`#yc_slider_{{ id }}.yc-slider__desktop`, {
    type: '{{ section.settings.slider_transition_type }}',
    arrows: '{{ section.settings.slider_arrows }}' ? true : false,
    autoplay: '{{ section.settings.slider_autoplay }}' ? true : false,
    cover: true,
    pagination: '{{ section.settings.slider_pagination }}' ? true : false,
    pauseOnHover: '{{ section.settings.slider_pause_on_hover }}' ? true : false,
    pauseOnFocus: '{{ section.settings.slider_pause_on_focus }}' ? true : false,
    interval: '{{ section.settings.slider_timeout | times: 1000 }}',
    rewind: true,
    drag: 'free',
    perPage: perPage,
    perMove: 1,
    snap: true,
    gap: '12px',
    breakpoints: {
      1024: {
        perPage: perPage >= 3 ? 3 : perPage,
      },
    },
  });
  const mobileSlider1 = new Splide(`#yc_slider_{{ id }}.yc-slider__mobile`, {
    type: '{{ section.settings.slider_mobile_transition_type }}',
    autoplay: '{{ section.settings.slider_mobile_autoplay }}' ? true : false,
    cover: true,
    pagination: '{{ section.settings.slider_mobile_pagination }}' ? true : false,
    arrows: '{{ section.settings.slider_mobile_arrows }}' ? true : false,
    interval: '{{ section.settings.slider_mobile_timeout | times: 1000 }}',
    rewind: true,
    drag: 'free',
    perPage: perPage < 2 ? 1 : 2,
    perMove: 1,
    gap: '8px',
    snap: true,
  });
  const mountSlider1 = () => {
    try {
      if (isMobile.matches) {
        window.requestAnimationFrame(() => mobileSlider1.mount());
      } else {
        window.requestAnimationFrame(() => desktopSlider1.mount());
      }
    } catch (e) {
      console.error(e);
    }
  };
  mountSlider1();
  isMobile1.addEventListener('change', mountSlider1, { passive: true });
</script>

{%- schema -%}
{
  "label": "Products slider",
  "templates": ["index", "page"],
  "limit": 1,
  "settings": [
     {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
     {
      "type": "range",
      "id": "space_top",
      "min": 0,
      "max": 160,
      "step": 1,
      "unit": "px",
      "label": "Space top",
      "default": 20
    },
    {
      "type": "range",
      "id": "space_bottom",
      "min": 5,
      "max": 160,
      "step": 1,
      "unit": "px",
      "label": "Space bottom",
      "default": 20
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color"
    },
    {
      "type": "header",
      "content": "Countdown settings"
    },
    {
      "type": "paragraph",
      "content": "ℹ️ If you want to show countdown on this section, please enable it and set the date and time."
    },
    {
      "type": "checkbox",
      "id": "countdown_enabled",
      "label": "Enable countdown"
    },
    {
      "label": "Year",
      "id": "countdown_year",
      "type": "number",
      "default": 0
    },
    {
      "label": "Month",
      "id": "countdown_month",
      "type": "number",
      "default": 0
    },
    {
      "label": "Day",
      "id": "countdown_day",
      "type": "number",
      "default": 0
    },
    {
      "label": "Hour",
      "id": "countdown_hour",
      "type": "number",
      "default": 0
    },
    {
      "label": "Minutes",
      "id": "countdown_minute",
      "type": "number",
      "default": 0
    },
     {
      "type": "checkbox",
      "id": "show_compare_at_price",
      "label": "Show compare at price",
      "default": true
    },
    {
      "type": "header",
      "content": "🖥 Desktop Slider Settings"
    },
    {
      "type": "paragraph",
      "content": "ℹ️ These settings will be applied to desktop devices."
    },
    {
      "type": "range",
      "id": "slider_timeout",
      "min": 1,
      "max": 15,
      "step": 1,
      "unit": "sec",
      "label": "Timeout between slides",
      "default": 5
    },
    {
      "type": "select",
      "id": "slider_transition_type",
      "label": "Transition type",
      "options": [
        {
          "value": "slide",
          "label": "Slide"
        },
        {
          "value": "loop",
          "label": "Loop"
        }
      ],
      "default": "loop"
    },
    {
      "type": "checkbox",
      "id": "slider_autoplay",
      "label": "Autoplay",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "slider_pause_on_hover",
      "label": "Pause on hover",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "slider_pause_on_focus",
      "label": "Pause on focus",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "slider_pagination",
      "label": "Pagination",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "slider_arrows",
      "label": "Arrows",
      "default": true
    },
    {
      "type": "header",
      "content": "📱 Mobile Slider Settings"
    },
    {
      "type": "paragraph",
      "content": "ℹ️ These settings will be applied to mobile devices."
    },
    {
      "type": "range",
      "id": "slider_mobile_timeout",
      "min": 1,
      "max": 15,
      "step": 1,
      "unit": "s",
      "label": "Timeout",
      "default": 5
    },
    {
      "type": "select",
      "id": "slider_mobile_transition_type",
      "label": "Transition type",
      "options": [
        {
          "value": "slide",
          "label": "Slide"
        },
        {
          "value": "loop",
          "label": "Loop"
        }
      ],
      "default": "loop"
    },
    {
      "type": "checkbox",
      "id": "slider_mobile_autoplay",
      "label": "Autoplay",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "slider_mobile_pagination",
      "label": "Pagination",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "slider_mobile_arrows",
      "label": "Arrows",
      "default": true
    }
  ],
  "blocks": [
    {
      "label": "Product",
      "type": "product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "text",
          "id": "tag_text",
          "label": "Banner text"
        },
        {
          "type": "color",
          "id": "tag_color",
          "label": "Banner color",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "tag_text_color",
          "label": "Banner text color",
          "default": "#ffffff"
        },
        {
          "type": "text",
          "id": "price_reduction_text",
          "label": "Banner price text"
        },
        {
          "type": "color",
          "id": "tag_price_color",
          "label": "Price reduction background color",
          "default": "#E52B2AFF"
        },
        {
          "type": "color",
          "id": "price_reduction_text_color",
          "label": "Price reduction text color",
          "default": "#ffffff"
        },
        {
          "type": "select",
          "id": "tag_position",
          "label": "Banner position",
          "options": [
            {
              "label": "Top right",
              "value": "top_right"
            },
            {
              "label": "Top left",
              "value": "top_left"
            },
            {
              "label": "Bottom right",
              "value": "bottom_right"
            },
            {
              "label": "Bottom left",
              "value": "bottom_left"
            }
          ],
          "default": "top_right"
        }
      ]
    }
  ]
}
{%- endschema -%}
