{{ 'featured-products.css' | asset_url | stylesheet_tag }}

{%- assign category = section.settings.category -%}
{%- assign number_of_products = section.settings.number_of_products -%}

{%- paginate collection.products by number_of_products id category_id: category.id %}
	<div class='yc-featured-products container'>
		<h1 class='yc-section-title'>{{ category.name }}</h1>
		<div class='product-list'>
			{%- for item in items -%}
				<div class='product-block' {{ block.youcan_attributes }}>
					<div class='product-thumbnail'>
						{% if item.thumbnail %}
							<img src='{{ item.thumbnail }}'>
						{% else %}
							<img src='{{ 'fallback-product-img.webp' | asset_url }}'>
						{% endif %}
					</div>
					<div class='product-details'>
						<span class='product-title'>{{ item.name }}</span>
						{% if item.price %}
							<span class='product-price'>{{ item.price | money }}</span>
						{% endif %}
					</div>
					<div class='flex justify-center'>
						<a class='yc-btn' href='{{ item.url }}'>Shop now</a>
					</div>
				</div>
			{%- endfor -%}
		</div>
	</div>
{%- endpaginate %}

{%- schema -%}
{
	"label": "Featured products by category",
	"settings": [
		{
			"type": "category",
			"id": "category",
			"label": "Category"
		},
		{
			"type": "number",
			"id": "number_of_products",
			"label": "Number of products to showcase",
			"default": 8
		}
	]
}
{%- endschema -%}
