{%- assign category = section.settings.category -%}
{%- assign number_of_products = section.settings.number_of_products -%}
{% assign id = 100 | rand: 2000 %}

{% style %}
  .section-featured-products-by-category-{{ id }} {
    margin-top: {{ section.settings.space_top }}px;
    margin-bottom: {{ section.settings.space_bottom }}px;
  }

  .section-featured-products-by-category-{{ id }} .yc-section-title {
    display: flex;
    justify-content: {{ section.settings.section_title_position }};
  }

  .section-featured-products-by-category-{{ id }} {
    background-color: {{ section.settings.background_color.hex }};
    padding: 30px 0;
    background-repeat: repeat;
    background-position: center;
  }

  .section-featured-products-by-category-{{ id }} .yc-section-title {
    color: {{ section.settings.title_color.hex }};
  }
  .section-featured-products-by-category-{{ id }} * {
    color: {{ section.settings.text_color.hex }};
  }
{% endstyle %}

{% if category %}
  <section class='section-featured-products-by-category-{{ id }} yc-featured-products'>
    <div class="container">
      <h1 class='yc-section-title'>{{ category.name }}</h1>
      <div class='product-list'>
        {%- paginate collection.products by number_of_products id category_id: category.id %}
          {%- for item in items -%}
          <div {{ block.youcan_attributes }} class="product-block">
            {%- render 'product-preview', item: item -%}
          </div>
          {%- endfor -%}
        {%- endpaginate %}
      </div>
      {% if section.settings.link_of_collection_by_category == true %}
        <div class='button-container'>
          <a href='/collections/{{ category.slug }}' class='yc-btn'>{{ 'general.show_more_button' | t }}</a>
        </div>
      {% endif %}
    </div>
  </section>
{% endif %}

{%- schema -%}
{
  "label": "Featured products by category",
  "templates": ["index", "page"],
  "settings": [
    {
      "type": "category",
      "id": "category",
      "label": "Category"
    },
    {
      "type": "select",
      "id": "section_title_position",
      "label": "Title position",
      "default": "right",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "range",
      "id": "space_top",
      "min": 5,
      "max": 160,
      "step": 1,
      "unit": "px",
      "label": "Space top",
      "default": 10
    },
    {
      "type": "range",
      "id": "space_bottom",
      "min": 5,
      "max": 160,
      "step": 1,
      "unit": "px",
      "label": "Space bottom",
      "default": 10
    },
    {
      "type": "number",
      "id": "number_of_products",
      "label": "Number of products to showcase",
      "default": 8
    },
    {
      "type": "checkbox",
      "id": "show_compare_at_price",
      "label": "Show compare at price",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "link_of_collection_by_category",
      "label": "Link of collection by category",
      "default": true
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#000000"
    }
  ]
}
{%- endschema -%}
