{{ 'queries-handler.css' | asset_url | stylesheet_tag }}
{{ 'product-listing.css' | asset_url | stylesheet_tag }}

{%- assign per_page = section.settings.items_per_page -%}
<div class='yc-product-listing-container'>
  <div class="breadcrumbs-container">
    <div class="breadcrumbs-listings">
      <div class="listings__item">
        <a href="/" class="first-listing">{{ 'snippets.collection-listing.home' | t }}</a>
      </div>
      <div class="listings__item">
        <img src='{{ 'left-arrow.png' | asset_url }}'>
      </div>
      <div class="listings__item">
        <a href="/collections" class="second-listing">{{ 'snippets.collection-listing.collections' | t }}</a>
      </div>
    </div>

    <div class="breadcrumbs-name">
      <h1>{{ category.name }}</h1>
    </div>
  </div>
  <div class="sort-container">
    {%- render 'main-sort' -%}
  </div>

  {%- paginate collection.products by per_page cod, category_id: category.id %}
    <div class="subcategories">
      {% for subcategory in subCategories %}
        {% render 'subCategory', subcategory: subcategory %}
      {% endfor %}
    </div>
    <div class='product-list'>
      {% for product in items %}
        {% render 'product-preview', item: product %}
      {% endfor %}
    </div>

    <!-- prettier-ignore -->
    {%- render 'main-pagination', has_more: has_more, next_page: next_page, previous_page: previous_page, current: current, last: last -%}
  {%- endpaginate %}
</div>

{% schema %}
{
  "label": "Products in collection",
  "templates": ["collections"],
  "limit": 1,
  "settings": [
    {
      "type": "number",
      "id": "items_per_page",
      "label": "Collections per page",
      "default": 10
    }
  ]
}
{% endschema %}
