{{ 'footer.css' | asset_url | stylesheet_tag }}

{% style %}
  :root  {
    --yc-footer-background-color: {%- if section.settings.footer_background_color -%}
      {{ section.settings.footer_background_color.hex }}
    {%- else -%}
      var(--yc-primary-color){%- endif -%};
    --yc-footer-text-color: {{ section.settings.footer_text_color.hex }};
    --yc-footer-copyright-background: {{ section.settings.footer_copyright_background.hex }};
  }

  .toggle-footer {
    {%- if section.settings.top_border_color -%}
      border-top: 1px solid {{- section.settings.top_border_color.hex -}};
    {%- endif -%}
    display: {{ section.settings.toggle_footer ? 'none' : 'block' }};
  }

{% endstyle %}

{% if section.settings.toggle_footer != true %}
  <footer class='yc-footer toggle-footer'>
    <div class="columns container">
      {%- for linklist in link-lists -%}
        {%- if linklist.links | count > 0  and linklist != main-link-list -%}
          <div class="accordion-item column">
            <div class='accordion-header'>
              <h1 class="title">{{ linklist.title }}</h1>
              <svg class="arrow" width="15" height="9" viewBox="0 0 15 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.01947 7.41357L7.56174 1.50241L14.104 7.41357" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
            <div class="accordion-content">
              {%- for item in linklist.links -%}
                  <a class="item" href="{{ item.url }}">{{ item.title }}</a>
              {%- endfor -%}
            </div>
          </div>
        {%- endif -%}
      {%- endfor -%}
    </div>
    <div class="container">
      {%- assign cleaned_tag = section.settings.copyright | strip_html | strip -%}
      {%- if section.settings.social_media_exist or cleaned_tag != '' %}
        <div class="footer-space"></div>
      {%- endif -%}
      <div class="copyright-wrapper" {{ block.youcan_attributes }}>
        {%- if cleaned_tag != '' %}
          <div class="copyright-title">
            {{ section.settings.copyright }}
          </div>
        {%- endif %}
        <div class="spacer"></div>
        {%- if section.settings.social_media_exist -%}
          {%- for block in section.blocks -%}
            {%- if block.settings.social_media_icon_image.src -%}
              <a class='link' href="{{ block.settings.social_media_url }}" target="_blank">
                <img loading='lazy' class='image' src="{{ block.settings.social_media_icon_image.src }}" alt='social links'>
              </a>
            {% else %}
              <a class='link' href="{{ block.settings.social_media_url }}" target="_blank">
                <img loading='lazy' src='{{ 'default_product.jpeg' | asset_url }}' alt='image placeholder'>
              </a>
            {%- endif -%}
          {%- endfor %}
        {%- endif -%}
      </div>
    </div>
  </footer>
{% endif %}

{{ 'accordion.js' | asset_url | script_tag_deferred }}

{%- schema -%}
{
  "label": "Footer",
  "limit": 1,
  "settings": [
    {
      "type": "paragraph",
      "content": "Footer menu can be managed from your [Menu settings](https:\/\/seller-area.youcan.shop\/admin\/menus)"
    },
    {
      "type": "checkbox",
      "id": "toggle_footer",
      "label": "Hide footer",
      "default": false
    },
    {
      "type": "color",
      "id": "footer_background_color",
      "label": "Background color"
    },
    {
      "type": "color",
      "id": "footer_text_color",
      "label": "Text color",
      "default": "#fff"
    },
    {
      "type": "checkbox",
      "id": "social_media_exist",
      "label": "Social media",
      "default": true
    },
    {
      "type": "richtext",
      "id": "copyright",
      "label": "Copyright text",
      "default": "All rights reserved"
    },
    {
      "type": "color",
      "id": "top_border_color",
      "label": "Top border color",
      "default": "#e5e5e5"
    }
  ],
  "blocks": [
    {
      "label": "Social media",
      "type": "social-media",
      "settings": [
        {
          "type": "image_picker",
          "id": "social_media_icon_image",
          "label": "Social media icon"
        },
        {
          "type": "text",
          "id": "social_media_url",
          "label": "Url"
        }
      ]
    }
  ]
}
{%- endschema -%}
