{{ 'upsell.css' | asset_url | stylesheet_tag }}

<div class="upsell-page">
  <div class="upsell-content">
    {{ upsell.description }}
  </div>
  <form id="upsell-form">
    <input
      type="hidden"
      name="_token"
    />
    <input
      type="hidden"
      name="upsell_id"
      value="{{ upsell.id }}"
    />
    <input
      type="hidden"
      name="order_id"
      value="{{ order.id }}"
    />
    {%- for product in upsell.products %}
      <input
        type="hidden"
        name="product_offers[{{ product.id }}]"
        value="{{ product.variants.0.id }}"
      />
    {%- endfor %}

    <div class="upsell-form-submit">
    <button type="submit" name="answer" value="yes" class="upsell-submit-yes size-{{- upsell.actions.btn_yes.size -}}"
      style="background: {{- upsell.actions.btn_yes.bg_color -}};">
      <span class="button-text text-{{- upsell.actions.btn_yes.font_size -}}" style="color: {{- upsell.actions.btn_yes.font_color -}}">
          {{- upsell.actions.btn_yes.title -}}
      </span>
      <div class="spinner hidden"></div>
    </button>
    <button type="submit" name="answer" value="no" class="upsell-submit-no size-{{- upsell.actions.btn_no.size -}}"
      style="background: {{- upsell.actions.btn_no.bg_color -}};">
      <span class="button-text text-{{- upsell.actions.btn_no.font_size -}}" style="color: {{- upsell.actions.btn_no.font_color -}}">
          {{- upsell.actions.btn_no.title -}}
      </span>
      <div class="spinner hidden"></div>
    </button>
  </div>
  </form>
  <div class="upsell-content">
    {{ upsell.footer }}
  </div>
</div>

{{ 'upsell.js' | asset_url | script_tag_deferred }}

{%- schema %}
{
  "label": "Upsell",
  "templates": ["upsell"]
}
{%- endschema %}
