{{ 'navbar.css' | asset_url | stylesheet_tag }}

{% style %}
  :root {
    --yc-nav-height: {{ section.settings.navbar_height }}px;
    --yc-nav-background: {{ section.settings.navbar_background_color.hex }};
    --yc-nav-links-color: {%- if section.settings.navbar_links_color -%}
                            {{ section.settings.navbar_links_color.hex }}
                          {%- else -%}
                            var(--yc-neutral-color)
                          {%- endif -%};
    --yc-nav-links-font-weight: {{ section.settings.navbar_links_font_weight }};
    --yc-nav-links-hover-transparency: {{ section.settings.navbar_links_hover_transparency }};
    --yc-nav-font-family: {%- if section.settings.navbar_font_family -%}
                            {{ section.settings.navbar_font_family }}, sans-serif
                          {%- else -%}
                            var(--yc-font-family)
                          {%- endif -%};
    --yc-nav-font-size: {{ section.settings.navbar_font_size }}px;
    --yc-nav-shadow: {{ section.settings.navbar_shadow }};
  }
{% endstyle %}

<header class='yc-header {%if section.settings.navbar_always_on_top%} nav-fixed {%endif%}'>
  <nav class='yc-navbar container'>
    {%- for block in section.blocks -%}
      {%- case block.type %}
        {%- when 'logo' %}
          <div class='logo'>
            <a href='/'>
              {% if section.settings.navbar_logo.src %}
                <img loading='lazy' src='{{ section.settings.navbar_logo.src }}'>
              {% else %}
              <svg width="80" height="24" viewBox="0 0 79 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.27153 16.7639H16.8635V0.318915H12.0795V13.4749H5.93853C5.31753 13.4749 4.88053 13.3369 4.62753 13.0379C4.37453 12.7389 4.25953 12.2329 4.25953 11.5199V9.93292H0.119527V11.4739C0.119527 12.4859 0.257527 13.3369 0.533527 14.0039C0.809527 14.6709 1.17753 15.2229 1.63753 15.6369C2.09753 16.0509 2.64953 16.3499 3.27053 16.5339C3.89153 16.7179 4.55853 16.8099 5.27153 16.8099V16.7639ZM5.75453 10.0709H10.5155V8.78292H8.44553C8.28453 8.78292 8.14653 8.73692 8.03153 8.62192C7.91653 8.50692 7.87053 8.34592 7.87053 8.13892C7.87053 7.93192 7.91653 7.77092 8.00853 7.67892C8.10053 7.58692 8.21553 7.54092 8.33053 7.54092C8.62953 7.54092 8.79053 7.67892 8.79053 7.97792H10.4235C10.4005 7.67892 10.3315 7.42592 10.1935 7.21892C10.0555 7.01192 9.89453 6.85092 9.68753 6.71292C9.48053 6.57492 9.25053 6.48292 8.99753 6.43692C8.74453 6.39092 8.49153 6.36792 8.23853 6.36792C7.61753 6.36792 7.11153 6.50592 6.72053 6.78192C6.32953 7.05792 6.12253 7.47192 6.12253 8.04692C6.12253 8.16192 6.14553 8.29992 6.19153 8.43792C6.23753 8.57592 6.28353 8.69092 6.35253 8.75992V8.82892H5.66253L5.75453 10.0709ZM31.753 12.4399C31.684 11.2439 31.638 10.2089 31.408 9.33492C31.178 8.46092 30.81 7.74792 30.304 7.17292C29.798 6.59792 29.131 6.18392 28.326 5.90792C27.521 5.63192 26.532 5.49392 25.359 5.49392C24.186 5.49392 23.197 5.65492 22.369 5.95392C21.541 6.25292 20.874 6.66692 20.345 7.19592C19.816 7.72492 19.425 8.36892 19.195 9.10492C18.965 9.84092 18.85 10.6459 18.85 11.5199C18.85 12.3249 19.011 13.0609 19.333 13.7049C19.655 14.3489 20.069 14.9009 20.598 15.3609C21.127 15.8209 21.748 16.1659 22.461 16.4189C23.174 16.6719 23.91 16.7869 24.669 16.7869H26.762C26.601 17.6839 26.256 18.3279 25.727 18.7189C25.198 19.1099 24.439 19.3169 23.473 19.3169C23.335 19.3169 23.174 19.3169 22.99 19.2939C22.806 19.2709 22.622 19.2479 22.438 19.2249C22.254 19.2019 22.07 19.1559 21.886 19.1099C21.702 19.0639 21.541 19.0179 21.403 18.9719V21.9619C21.633 22.0309 21.886 22.0999 22.162 22.1689C22.392 22.2149 22.645 22.2609 22.944 22.3069C23.243 22.3529 23.542 22.3759 23.864 22.3759C26.003 22.3759 27.682 21.9389 28.878 21.0419C30.074 20.1449 30.902 18.7649 31.339 16.9019H33.777C34.099 16.9019 34.26 16.8099 34.26 16.6489V13.9349C34.26 13.7739 34.214 13.6819 34.122 13.6589C34.03 13.6359 33.915 13.6129 33.8 13.6129H31.776C31.799 13.4519 31.799 13.2909 31.799 13.1299L31.753 12.4399ZM23.703 11.6119C23.703 11.2899 23.726 10.9679 23.772 10.6229C23.818 10.2779 23.91 9.97892 24.048 9.70292C24.186 9.42692 24.347 9.19692 24.554 9.01292C24.761 8.82892 25.014 8.73692 25.336 8.73692C25.681 8.73692 25.957 8.82892 26.187 9.01292C26.417 9.19692 26.578 9.44992 26.693 9.77192C26.808 10.0939 26.9 10.4849 26.946 10.9449C26.992 11.4049 27.015 11.9109 27.015 12.4629V13.5899H25.336C24.991 13.5899 24.715 13.5439 24.508 13.4519C24.301 13.3599 24.14 13.2219 24.025 13.0379C23.91 12.8539 23.818 12.6469 23.772 12.3939C23.726 12.1409 23.703 11.8649 23.703 11.5659V11.6119ZM33.7216 18.9489V21.6399H37.4016V18.9489H33.7216ZM38.3906 18.9489V21.6399H42.0706V18.9489H38.3906ZM33.7446 16.7639H41.9556V6.96592H37.1716V13.4749H33.7446C33.6296 13.4749 33.5146 13.4979 33.4226 13.5209C33.3306 13.5439 33.2846 13.6359 33.2846 13.7969V16.5109C33.2846 16.6719 33.4456 16.7639 33.7676 16.7639H33.7446ZM56.9317 12.4399C56.8627 11.2439 56.8167 10.2089 56.5867 9.33492C56.3567 8.46092 55.9887 7.74792 55.4827 7.17292C54.9767 6.59792 54.3097 6.18392 53.5047 5.90792C52.6997 5.63192 51.7107 5.49392 50.5377 5.49392C49.3647 5.49392 48.3757 5.65492 47.5477 5.95392C46.7197 6.25292 46.0527 6.66692 45.5237 7.19592C44.9947 7.72492 44.6037 8.36892 44.3737 9.10492C44.1437 9.84092 44.0287 10.6459 44.0287 11.5199C44.0287 12.3249 44.1897 13.0609 44.5117 13.7049C44.8337 14.3489 45.2477 14.9009 45.7767 15.3609C46.3057 15.8209 46.9267 16.1659 47.6397 16.4189C48.3527 16.6719 49.0887 16.7869 49.8477 16.7869H51.9407C51.7797 17.6839 51.4347 18.3279 50.9057 18.7189C50.3767 19.1099 49.6177 19.3169 48.6517 19.3169C48.5137 19.3169 48.3527 19.3169 48.1687 19.2939C47.9847 19.2709 47.8007 19.2479 47.6167 19.2249C47.4327 19.2019 47.2487 19.1559 47.0647 19.1099C46.8807 19.0639 46.7197 19.0179 46.5817 18.9719V21.9619C46.8117 22.0309 47.0647 22.0999 47.3407 22.1689C47.5707 22.2149 47.8237 22.2609 48.1227 22.3069C48.4217 22.3529 48.7207 22.3759 49.0427 22.3759C51.1817 22.3759 52.8607 21.9389 54.0567 21.0419C55.2527 20.1449 56.0807 18.7649 56.5177 16.9019H58.9557C59.2777 16.9019 59.4387 16.8099 59.4387 16.6489V13.9349C59.4387 13.7739 59.3927 13.6819 59.3007 13.6589C59.2087 13.6359 59.0937 13.6129 58.9787 13.6129H56.9547C56.9777 13.4519 56.9777 13.2909 56.9777 13.1299L56.9317 12.4399ZM48.8817 11.6119C48.8817 11.2899 48.9047 10.9679 48.9507 10.6229C48.9967 10.2779 49.0887 9.97892 49.2267 9.70292C49.3647 9.42692 49.5257 9.19692 49.7327 9.01292C49.9397 8.82892 50.1927 8.73692 50.5147 8.73692C50.8597 8.73692 51.1357 8.82892 51.3657 9.01292C51.5957 9.19692 51.7567 9.44992 51.8717 9.77192C51.9867 10.0939 52.0787 10.4849 52.1247 10.9449C52.1707 11.4049 52.1937 11.9109 52.1937 12.4629V13.5899H50.5147C50.1697 13.5899 49.8937 13.5439 49.6867 13.4519C49.4797 13.3599 49.3187 13.2219 49.2037 13.0379C49.0887 12.8539 48.9967 12.6469 48.9507 12.3939C48.9047 12.1409 48.8817 11.8649 48.8817 11.5659V11.6119ZM60.7403 18.9489V21.6399H64.4203V18.9489H60.7403ZM65.4093 18.9489V21.6399H69.0893V18.9489H65.4093ZM58.9233 16.7639H62.2353C62.5803 16.7639 62.9483 16.7409 63.3393 16.6949C63.7303 16.6489 64.0983 16.5569 64.4663 16.4419C64.8343 16.3269 65.2023 16.1659 65.5473 15.9589C65.8923 15.7519 66.2143 15.4989 66.4903 15.1769C66.7663 15.6829 67.1113 16.0739 67.5253 16.3499C67.9393 16.6259 68.4453 16.7639 69.0203 16.7639H70.2853C70.6073 16.7639 70.7683 16.6719 70.7683 16.5109V13.7969C70.7683 13.6359 70.7223 13.5439 70.6303 13.5209C70.5383 13.4979 70.4233 13.4749 70.3083 13.4749H69.0433C68.6753 13.4749 68.3763 13.3599 68.1693 13.1299C67.9623 12.8999 67.8473 12.5089 67.8473 11.9339V6.96592H63.0633V12.0259C63.0633 12.5549 62.9253 12.9229 62.6493 13.1299C62.3733 13.3369 62.0743 13.4519 61.7753 13.4519H58.9003C58.7853 13.4519 58.6703 13.4749 58.5783 13.4979C58.4863 13.5209 58.4403 13.6129 58.4403 13.7739V16.4879C58.4403 16.6489 58.6013 16.7409 58.9233 16.7409V16.7639ZM74.221 0.318915V3.00991H78.522V0.318915H74.221ZM70.311 16.7639H78.522V6.96592H73.738V13.4749H70.311C70.196 13.4749 70.081 13.4979 69.989 13.5209C69.897 13.5439 69.851 13.6359 69.851 13.7969V16.5109C69.851 16.6719 70.012 16.7639 70.334 16.7639H70.311Z" fill="white"/>
              </svg>
              {% endif %}
            </a>
          </div>
        {%- when 'menu' %}
          <div class='menu'>  
              <button
              class='menu-toggler text-3xl'
              onclick="openDrawer('.navbar-drawer')"
            >
              <ion-icon name='menu-outline'></ion-icon>
            </button>
            
            <ul class='menu-list'>
              {% for item in main-link-list.links %}
                <li class='menu-item item{%-if item.active-%} active {%-endif%}'>
                  <a href='{{ item.url }}'>{{ item.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {%- when 'search_and_cart' %}
          <div class='corner'>
            <button
              class='search'
              onclick='openSearch()'
            >
              <ion-icon name="search-outline"></ion-icon>
            </button>
            <div id='searchInputHolder'> 
              <div class='container search-wrapper'> 
                <form
                  action='/search'
                  method='GET'
                  class='input w-full flex gap-1 items-center'
                >
                  <input
                    placeholder='{{ 'navbar.search.placeholder' | t }}'
                    type='text'
                    name='q'
                    value=''
                    class='w-full'
                  >
                </form>
                <ion-icon class="close-search" name="close-outline"></ion-icon>
              </div>
            </div>
            <button class='cart relative' id='navbar-cart-icon'>
              <span id='cart-items-badge'>
                {{- cart.items | size -}}
              </span>
              <ion-icon name="cart-outline"></ion-icon>
            </button>
          </div>
      {%- endcase %}
    {%- endfor -%}
  </nav>
  <div class='navigation-drawer navbar-drawer block lg:hidden'>
    <div class='flex flex-col items-wrapper'>
      {% for item in main-link-list.links %}
        <a
          class='items flex items-center justify-between'
          href='{{ item.url }}'
        >
          <div>
            {{ item.title }}
          </div>
          <ion-icon name='chevron-forward-outline' class='arrow-icon'></ion-icon>
        </a>
      {% endfor %}
    </div>
  </div>
</header>

{%- schema -%}
{
  "label": "Navbar",
  "limit": 1,
  "blocks": [
    {
      "label": "Logo",
      "limit": 1,
      "type": "logo"
    },
    {
      "label": "Menu",
      "limit": 1,
      "type": "menu"
    },
    {
      "label": "Search and Cart",
      "limit": 1,
      "type": "search_and_cart"
    }
  ],
  "settings": [
    {
      "type": "paragraph",
      "content": "Main menu can be managed from your [Menu settings](https:\/\/seller-area.youcan.shop\/admin\/menus)"
    },
    {
      "type": "image_picker",
      "id": "navbar_logo",
      "label": "Logo"
    },
    {
      "type": "range",
      "id": "navbar_height",
      "min": 20,
      "max": 150,
      "step": 1,
      "unit": "px",
      "label": "Height",
      "default": 60
    },
    {
      "type": "color",
      "id": "navbar_background_color",
      "label": "Background color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "navbar_links_color",
      "label": "Items and links color"
    },
    {
      "type": "range",
      "id": "navbar_links_hover_transparency",
      "min": 0,
      "max": 1,
      "step": 0.10000000000000001,
      "unit": "",
      "label": "Links hover transparency",
      "default": 0.80000000000000004
    },
    {
      "type": "select",
      "id": "navbar_links_font_weight",
      "label": "Links font weight",
      "options": [
        {
          "value": "300",
          "label": "Light"
        },
        {
          "value": "400",
          "label": "Normal"
        },
        {
          "value": "500",
          "label": "Bold"
        },
        {
          "value": "700",
          "label": "Heavy"
        }
      ],
      "default": "400"
    },
    {
      "type": "select",
      "id": "navbar_font_family",
      "label": "Font family",
      "options": [
        {
          "value": "Roboto",
          "label": "Roboto"
        },
        {
          "value": "Open Sans",
          "label": "Open Sans"
        },
        {
          "value": "Lato",
          "label": "Lato"
        },
        {
          "value": "Oswald",
          "label": "Oswald"
        },
        {
          "value": "Raleway",
          "label": "Raleway"
        },
        {
          "value": "Montserrat",
          "label": "Montserrat"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "navbar_shadow",
      "label": "Show navbar shadow",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "navbar_always_on_top",
      "label": "Navbar always on top",
      "default": false
    }
  ]
}
{%- endschema -%}
