{{ 'footer.css' | asset_url | stylesheet_tag }}

{% style %}
  :root  {
    --yc-footer-background-color: {{ section.settings.footer_background_color.hex }};
    --yc-footer-text-color: {{ section.settings.footer_text_color.hex }};
    --yc-footer-border-color: {{ section.settings.footer_border_color.hex }};
  }
{% endstyle %}

<footer class='yc-footer'>
  <div class="columns container">
    {%- if section.settings.footer_logo.src -%}
      <div class='footer-logo column'>
        <img loading='lazy' src='{{ section.settings.footer_logo.src }}' alt='logo' width="100" height="100"> 
      </div>
    {% else %}
      <div class='footer-logo column'>
        <img loading='lazy' src='{{ 'black-default-logo.png' | asset_url }}' alt='logo' width="100" height="100">
      </div>
    {%- endif -%}
    {%- if section.settings.mention_and_social_media -%}
      <div class='social-media-links column'>
        {%- for block in section.blocks -%}
          {%- if block.settings.social_media_icon_image.src -%}
            <a class='link' href="{{ block.settings.social_media_url }}" target="_blank">
              <img loading='lazy' class='image' src="{{ block.settings.social_media_icon_image.src }}" alt='social links' style="width: 100%; height: 100%;">
            </a>
            {% else %}
            <a class='link' href="{{ block.settings.social_media_url }}" target="_blank">
              <img loading='lazy' src='{{ 'default_product.jpeg' | asset_url }}' alt='social links' style="width: 100%; height: 100%;">
            </a>
          {%- endif -%}
        {%- endfor %}
      </div>
    {%- endif -%}
    {%- for linklist in link-lists -%}
      {%- if linklist.links | count > 0  and linklist != main-link-list -%}
        <div class="accordion-item column">
          <div class='accordion-header'>
            <h1 class="title">{{ linklist.title }}</h1>
            <svg class="arrow" width="15" height="9" viewBox="0 0 15 9" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.01947 7.41357L7.56174 1.50241L14.104 7.41357" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
          <div class="accordion-content">
            {%- for item in linklist.links -%}
                <a class="item" href="{{ item.url }}">{{ item.title }}</a>
            {%- endfor -%}
          </div>
        </div>
      {%- endif -%}
    {%- endfor -%}
  </div>
    <div class="container">
      <div class="copyright-wrapper" {{ block.youcan_attributes }}>
        <div class="copyright-title">
          {{ section.settings.mention }}
        </div>
      </div>
    </div>
</footer>

{{ 'accordion.js' | asset_url | script_tag_deferred }}

{%- schema -%}
{
  "label": "Footer",
  "limit": 1,
  "settings": [
    {
      "type": "paragraph",
      "content": "Footer menu can be managed from your [Menu settings](https:\/\/seller-area.youcan.shop\/admin\/menus)"
    },
    {
      "type": "image_picker",
      "id": "footer_logo",
      "label": "Logo"
    },
    {
      "type": "color",
      "id": "footer_background_color",
      "label": "Background Color",
      "default": "#FFFFFFFF"
    },
    {
      "type": "color",
      "id": "footer_text_color",
      "label": "Text Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "footer_border_color",
      "label": "Border color",
      "default": "#ebebeb"
    },
    {
      "type": "checkbox",
      "id": "mention_and_social_media",
      "label": "Mention & Social media",
      "default": true
    },
    {
      "type": "richtext",
      "id": "mention",
      "label": "Mention content"
    }
  ],
  "blocks": [
    {
      "label": "social media",
      "type": "social-media",
      "settings": [
        {
          "type": "image_picker",
          "id": "social_media_icon_image",
          "label": "facebook icon"
        },
        {
          "type": "text",
          "id": "social_media_url",
          "label": "Url"
        }
      ]
    }
  ]
}
{%- endschema -%}
