{{ 'footer.css' | asset_url | stylesheet_tag }}

{% style %}
  :root  {
    --yc-footer-background-color: {%- if section.settings.footer_background_color -%}
      {{ section.settings.footer_background_color.hex }}
    {%- else -%}
      var(--yc-primary-color){%- endif -%};
    --yc-footer-text-color: {{ section.settings.footer_text_color.hex }};
    --yc-footer-copyright-background: {{ section.settings.footer_copyright_background.hex }};
  }
{% endstyle %}

<footer class='yc-footer'>
  <div class="columns container">
    {%- for linklist in link-lists -%}
      {%- if linklist.links | count > 0  and linklist != main-link-list -%}
        <div class="column">
          <h1 class='title block'>{{ linklist.title }}</h1>
          <div class="parsed-links">
            {%- for item in linklist.links -%}
                <a class="item" href="{{ item.url }}">{{ item.title }}</a>
            {%- endfor -%}
          </div>
        </div>
      {%- endif -%}
    {%- endfor -%}
  </div>
  <div class="copyright-wrapper container" {{ block.youcan_attributes }}>
    {%- for block in section.blocks -%}
      {%- case block.type %}
        {%- when 'copyright' %}
          <div class="copyright-title">
            {{ block.settings.copyright }}
          </div>
          <div class="spacer"></div>

        {%- when 'social-media' %}
          <a class="social-media-link" href="{{ block.settings.social_media_url }}">
            <img src="{{ block.settings.social_media_icon_image.src }}">
          </a>
      {%- endcase %}
    {%- endfor %}
  </div>
</footer>

{%- schema -%}
{
  "label": "Footer",
  "limit": 1,
  "settings": [
    {
      "type": "paragraph",
      "content": "Footer menu can be managed from your [Menu settings](https:\/\/seller-area.youcan.shop\/admin\/menus)"
    },
    {
      "type": "color",
      "id": "footer_background_color",
      "label": "Background Color"
    },
    {
      "type": "color",
      "id": "footer_text_color",
      "label": "Text Color",
      "default": "#fff"
    }
  ],
  "blocks": [
    {
      "label": "Copyright",
      "limit": 1,
      "type": "copyright",
      "settings": [
        {
          "type": "richtext",
          "id": "copyright",
          "label": "Copyright Text"
        }
      ]
    },
    {
      "label": "social media",
      "type": "social-media",
      "settings": [
        {
          "type": "image_picker",
          "id": "social_media_icon_image",
          "label": "facebook icon"
        },
        {
          "type": "text",
          "id": "social_media_url",
          "label": "Url"
        }
      ]
    }
  ]
}
{%- endschema -%}
