{{ 'queries-handler.css' | asset_url | stylesheet_tag }}
{{ 'featured-products.css' | asset_url | stylesheet_tag }}

{%- assign products_per_page = section.settings.products_per_page -%}

{%- paginate search.products by products_per_page cod %}
  <div class='yc-featured-products yc-search container'>
    <div class='top-items'>
      <h1
        class='yc-section-title'
        id='search-title'
      ></h1>
      {%- render 'main-sort' -%}
    </div>
    <div class='product-list'>
      {%- for item in items %}
        <a
          href='{{ item.url }}'
          class='product-block'
        >
          <div class='product-thumbnail'>
            {% if item.thumbnail %}
              <img
                loading='lazy'
                src='{{ item.thumbnail }}'
              >
            {% else %}
              <img
                loading='lazy'
                src='{{ 'fallback-product-img.webp' | asset_url }}'
              >
            {% endif %}
          </div>

          <div class='product-details'>
            <span class='product-title'>{{ item.name }}</span>
            {% if item.price %}
              <span class='product-price'>{{ item.price | money }}</span>
            {% endif %}
          </div>
        </a>
      {%- endfor %}
    </div>
  </div>

  <!-- prettier-ignore -->
  {%- render 'main-pagination', has_more: has_more, next_page: next_page, previous_page: previous_page, current: current, last: last -%}
{%- endpaginate %}

{{ 'search.js' | asset_url | script_tag_deferred }}

{%- schema -%}
{
  "label": "Search",
  "templates": ["search"],
  "limit": 1,
  "settings": [
    {
      "type": "number",
      "id": "products_per_page",
      "label": "Products per page",
      "default": 8
    }
  ]
}
{%- endschema -%}
