{{ 'footer.css' | asset_url | stylesheet_tag }}
<footer class='yc-footer mt-24'>
  <div class='grid grid-cols-1 md:grid-cols-3 gap-10 container pb-7 pt-14'>
    {%- for block in section.blocks -%}
      <div>
        {%- case block.type -%}
          {%- when 'privacy' -%}
            <div
              class='parsed-links'
              {{ block.youcan_attributes }}
            >
              {%- for item in block.settings -%}
                {%- if item.0 == "block-title" -%}
                  <h1 class='title block'>{{ item.1 }}</h1>
                {%- else %}
                  <a class='item block'>{{ item.1 }}</a>
                {%- endif %}
              {%- endfor %}
            </div>
          {%- when 'social' -%}
            <div
              class='parsed-links'
              {{ block.youcan_attributes }}
            >
              {%- for item in block.settings -%}
                {%- if item.0 == "block-title" -%}
                  <h1 class='title block'>{{ item.1 }}</h1>
                {%- else %}
                  <a class='item block'>{{ item.1 }}</a>
                {%- endif %}
              {%- endfor %}
            </div>
          {%- when 'contact' -%}
            <div {{ block.youcan_attributes }}>
              {%- for item in block.settings -%}
                {%- if item.0 == "block-title" -%}
                  <h1 class='title block'>{{ item.1 }}</h1>
                {%- else %}
                  <div class='item block whitespace-pre-wrap leading-8 -mt-1'>{{ item.1 }}</div>
                {%- endif %}
              {%- endfor %}
            </div>
          {%- when 'copyright' -%}
            <div
              class='copyright'
              {{ block.youcan_attributes }}
            >
              {%- for item in block.settings -%}
                <div class='block whitespace-pre-wrap leading-8'>{{ item.1 }}</div>
              {%- endfor %}
            </div>
        {%- endcase %}
      </div>
    {%- endfor %}
  </div>
</footer>

{{ 'footer.js' | asset_url | script_tag_deferred }}

{%- schema -%}
{
  "label": "Footer",
  "limit": 1,
  "blocks": [
    {
      "label": "Privacy",
      "limit": 1,
      "type": "privacy",
      "settings": [
        {
          "type": "text",
          "id": "block-title",
          "label": "Block title",
          "default": "Privacy"
        },
        {
          "type": "header",
          "content": ""
        },
        {
          "type": "paragraph",
          "content": "Plaese enter your needed links, other inputs you can leave it empty."
        },
        {
          "type": "header",
          "content": "Link 1"
        },
        {
          "type": "text",
          "id": "name-1",
          "label": "Name",
          "default": ""
        },
        {
          "type": "text",
          "id": "url-1",
          "label": "URL",
          "default": ""
        },
        {
          "type": "header",
          "content": "Link 2"
        },
        {
          "type": "text",
          "id": "name-2",
          "label": "Name",
          "default": ""
        },
        {
          "type": "text",
          "id": "url-2",
          "label": "URL",
          "default": ""
        },
        {
          "type": "header",
          "content": "Link 3"
        },
        {
          "type": "text",
          "id": "name-3",
          "label": "Name",
          "default": ""
        },
        {
          "type": "text",
          "id": "url-3",
          "label": "URL",
          "default": ""
        },
        {
          "type": "header",
          "content": "Link 4"
        },
        {
          "type": "text",
          "id": "name-4",
          "label": "Name",
          "default": ""
        },
        {
          "type": "text",
          "id": "url-4",
          "label": "URL",
          "default": ""
        }
      ]
    },
    {
      "label": "Social media",
      "limit": 1,
      "type": "social",
      "settings": [
        {
          "type": "text",
          "id": "block-title",
          "label": "Block title",
          "default": "Social Media"
        },
        {
          "type": "paragraph",
          "content": "Plaese enter your needed links, other inputs you can leave it empty."
        },
        {
          "type": "header",
          "content": "Link 1"
        },
        {
          "type": "text",
          "id": "name-1",
          "label": "Name",
          "default": ""
        },
        {
          "type": "text",
          "id": "url-1",
          "label": "URL",
          "default": ""
        },
        {
          "type": "header",
          "content": "Link 2"
        },
        {
          "type": "text",
          "id": "name-2",
          "label": "Name",
          "default": ""
        },
        {
          "type": "text",
          "id": "url-2",
          "label": "URL",
          "default": ""
        }
      ]
    },
    {
      "label": "Contact Us",
      "limit": 1,
      "type": "contact",
      "settings": [
        {
          "type": "text",
          "id": "block-title",
          "label": "Block title",
          "default": "Contact Us"
        },
        {
          "type": "richtext",
          "id": "newsletter",
          "label": "Adress",
          "default": ""
        }
      ]
    },
    {
      "label": "Copyright",
      "limit": 1,
      "type": "copyright",
      "settings": [
        {
          "type": "richtext",
          "id": "copyright",
          "label": "Copyright Text",
          "default": "© 2023 YC. All rights reserved."
        }
      ]
    }
  ]
}
{%- endschema -%}
