{{ 'pages.css' | asset_url | stylesheet_tag }}

<div class='yc-page'>
  <div class="breadcrumbs-container">
    <div class="breadcrumbs-listings">
      <div class="listings__item">
        <a href="/" class="first-listing">{{ 'snippets.collection-listing.home' | t }}</a>
      </div>
      <div class="listings__item">
        <img src='{{ 'left-arrow.png' | asset_url }}'>
      </div>
      <div class="listings__item">
        <span class="second-listing">{{ page.name }}</span>
      </div>
    </div>
  </div>
  <div class="yc-page-container">
    {{ page.content }}
  </div>
</div>

<script>
  const CONTACT_FORM_PLACEHOLDERS = {
    email: '{{- 'page.contact.form_placeholders.email' | t -}}',
    subject: '{{- 'page.contact.form_placeholders.subject' | t -}}',
    message: '{{- 'page.contact.form_placeholders.message' | t -}}'
  }

  const CONTACT_PAGE_CONTENT = {
    title: '{{- 'page.contact.title' | t -}}',
    subtitle: '{{- 'page.contact.subtitle' | t -}}',
    button: '{{- 'page.contact.button' | t -}}'
  }
</script>

{{ 'page.js' | asset_url | script_tag }}

{%- schema -%}
{
  "label": "Page",
  "templates": ["page"],
  "limit": 1
}
{%- endschema -%}
