{{ 'footer.css' | asset_url | stylesheet_tag }}

{% style %}
  :root  {
    --yc-footer-background-color: {%- if section.settings.footer_background_color -%}
      {{ section.settings.footer_background_color.hex }}
    {%- else -%}
      var(--yc-primary-color){%- endif -%};
    --yc-footer-text-color: {{ section.settings.footer_text_color.hex }};
    --yc-footer-copyright-background: {{ section.settings.footer_copyright_background.hex }};
  }
{% endstyle %}

<footer class='yc-footer mt-24'>
  <div class="columns container">
    <div class="logo column">
      <img
        loading='lazy'
        src='{%- if section.settings.logo.src -%} {{ section.settings.logo.src }} {%- else -%} {{ 'cod-logo-light.png' | asset_url }} {%- endif -%}'
      >
    </div>
    {%- for linklist in link-lists -%}
      {%- if linklist.links | count > 0  and linklist != main-link-list -%}
        <div class="column">
          <h1 class='title block'>{{ linklist.title }}</h1>
          <div class="parsed-links">
            {%- for item in linklist.links -%}
                <a class="item" href="{{ item.url }}">{{ item.title }}</a>
            {%- endfor -%}
          </div>
        </div>
      {%- endif -%}
    {%- endfor -%}

    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'copyright' -%}
          <div
            class='copyright'
            {{ block.youcan_attributes }}
          >
            {%- for item in block.settings -%}
              <div class='block whitespace-pre-wrap leading-8'>{{ item.1 }}</div>
            {%- endfor %}
          </div>
        {%- else -%}
          <div class="column">
            <h1 class='title block'>{{ block.settings.block-title }}</h1>
            <div class="description">
              {{ block.settings.description }}
            </div>
          </div>
        {%- endcase %}
    {%- endfor %}
  </div>
</footer>

{%- schema -%}
{
  "label": "Footer",
  "limit": 1,
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "paragraph",
      "content": "Footer menu can be managed from your [Menu settings](https:\/\/seller-area.youcan.shop\/admin\/menus)"
    },
    {
      "type": "color",
      "id": "footer_background_color",
      "label": "Background Color"
    },
    {
      "type": "color",
      "id": "footer_text_color",
      "label": "Text Color",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "footer_copyright_background",
      "label": "Copyright Background",
      "default": "#0003"
    }
  ],
  "blocks": [
    {
      "label": "Column",
      "type": "column",
      "settings": [
        {
          "type": "text",
          "id": "block-title",
          "label": "Block title"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "default": ""
        }
      ]
    },
    {
      "label": "Copyright",
      "limit": 1,
      "type": "copyright",
      "settings": [
        {
          "type": "richtext",
          "id": "copyright",
          "label": "Copyright Text"
        }
      ]
    }
  ]
}
{%- endschema -%}
