{{ 'queries-handler.css' | asset_url | stylesheet_tag }}
{{ 'featured-products.css' | asset_url | stylesheet_tag }}
{{ 'product-listing.css' | asset_url | stylesheet_tag }}
{% assign id = 100 | rand: 2000 %}

{% style %}
  .product-item-{{ id}}{
    border: 1px solid #E7E7E7;
    border-radius: 4px;
  }

  .yc-searc-{{ id}}{
    margin: 10px auto 80px;
  }

  .search-title {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 110%;
    margin-top: 35px;
  }

  .yc-searc-{{ id }} .product-item {
    border: 1px solid #E7E7E7;
    border-radius: 4px;
  }
{% endstyle %}
{%- assign products_per_page = section.settings.products_per_page -%}

  {%- paginate search.products by products_per_page cod %}
  <div class='yc-featured-products yc-searc-{{id}} container'>
    <h1 class='search-title' id='search-title'></h1>
    <div class='product-list'>
      {%- for item in items %}
        <div class="product-item">
          {%- render 'product-preview', item: item -%}
        </div>
      {%- endfor %}
    </div>
  </div>

  <!-- prettier-ignore -->
  {%- render 'main-pagination', has_more: has_more, next_page: next_page, previous_page: previous_page, current: current, last: last -%}
{%- endpaginate %}

{%- schema -%}
  {
    "label": "Search",
    "templates": ["search"],
    "limit": 1,
    "settings": [
      {
        "type": "number",
        "id": "products_per_page",
        "label": "Products per page",
        "default": 8
      }, {
        "type": "checkbox",
        "id": "show_compare_at_price",
        "label": "Show compare at price",
        "default": true
      }
    ]
  }
{%- endschema -%}
