{{ 'cart.css' | asset_url | stylesheet_tag }}

<div class='yc-cart mt-4'>
	{%- if cart and cart.items %}
		<div class='container cart-table'>
			<h2 class='text-4xl'>Shopping Cart</h2>
			<p class='mt-1'>{{ cart.items | size }} items</p>
			<div class='flex flex-col md:flex-row gap-14'>
				<div class='w-full flex flex-col justify-between'>
					<table class='table-auto w-full mt-7 self-baseline'>
						<thead>
							<tr>
								<th></th>
								<th class='hidden md:block'>Quantity</th>
								<th>Total</th>
							</tr>
						</thead>
						<tbody>
							{%- for item in cart.items %}
								<tr class='relative cart__item' id='{{ item.id }}'>
									<td class='flex gap-6'>
										<div class='cart-item-loader-spinner hidden' id='loading__{{item.id}}'>
											<span class='spinner h-9 w-9'></span>
										</div>
										<div class='fixed'></div>
										<img src='{{item.image}}' alt='product-name' class='w-24 object-cover'>
										<div class='flex flex-col items-start gap-3'>
											<div>
												{{ item.name }}
											</div>
											<div>{{ item.price | money }}</div>
											<div class='md:hidden'>
												{{ item.quantity }}
											</div>
											<button onclick="removeItem('{{ item.id }}', '{{ item.product_variant_id }}')" class='yc-btn btn-sm flex items-center gap-1'>
												<ion-icon name='trash' class='text-base'></ion-icon>
												Remove
											</button>
										</div>
									</td>
									<td class='hidden md:table-cell'>
										<div class='quantity-wrapper'>
											<div class='decrease'>
												<button onclick="decreaseQuantity('{{ item.id }}', '{{ item.product_variant_id }}', '{{ item.quantity | minus: 1 }}')">-</button>
											</div>
											<input onchange="updateOnchange('{{ item.id }}', '{{ item.product_variant_id }}')" type='text' value='{{ item.quantity }}' id='{{ item.product_variant_id }}'>
											<div class='increase'>
												<button onclick="increaseQuantity('{{ item.id }}', '{{ item.product_variant_id }}', '{{ item.quantity | plus: 1 }}')">+</button>
											</div>
										</div>
									</td>
									<td>{{ item.price | times: item.quantity | money }}</td>
								</tr>
							{%- endfor %}
						</tbody>
					</table>
					<a href='/' class='yc-btn flex gap-2 w-fit mt-5 items-center'>
						<ion-icon name='arrow-back-outline'></ion-icon>
						Continue Shopping
					</a>
				</div>
				<div class='summary-box h-fit'>
					<div id='summary'>
						<h1 class='text-2xl border-b pb-4'>Order Summary</h1>
						<form name='promo'>
							<div class='pt-1 mb-7 w-full'>
								<label for='promo'>Promo Code</label>
								<input type='text' name='coupon' id='promo' placeholder='Enter your code' class='w-full'>
							</div>
							<button type='submit' class='yc-btn w-full'>
								<span class='spinner hidden' id='loading__coupon'></span>
								<span>Apply</span>
							</button>
						</form>
						{%- if cart and cart.items %}
							<div class='flex flex-col gap-1 mt-4'>
								{%- for item in cart.items %}
									<div class='flex justify-between text-sm'>
										<div class='capitalize'>{{ item.name }}</div>
										<div>{{ item.price | times: item.quantity | money }}</div>
									</div>
								{%- endfor %}
							</div>
						{%- endif %}
						<div class='border-t mt-5'>
							<div class='flex text-sm justify-between mt-5'>
								<span>Total cost</span>
								<span>{{ cart.total | money }}</span>
							</div>
							<button class='yc-btn mt-5 w-full'>
								<a href='{{ cart.cart_submit_url }}'>Checkout</a>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	{%- endif %}
	<div class='{%if cart and cart.items%}hidden {%endif%} container empty-cart pt-12'>
		<div class='flex flex-col justify-center text-center items-center gap-3'>
			<ion-icon name='cart-outline' class='text-8xl'></ion-icon>
			<div class='text-2xl md:text-3xl'>Your cart is currently empty.</div>
			<div class='opacity-60'>
				<p>Before you proceed to checkout you must add some products to your shopping cart.</p>
				<p>You will find a lot of interesting products on our "Shop" page.</p>
			</div>
			<a href='/' class='yc-btn flex gap-2 w-fit mt-5 items-center'>
				<ion-icon name='arrow-back-outline'></ion-icon>
				Return to shop
			</a>
		</div>
	</div>
</div>

{{ 'cart.js' | asset_url | script_tag }}

{% schema %}
{
	"label": "Cart",
	"class": "cart"
}
{% endschema %}
