{{ 'search.css' | asset_url | stylesheet_tag }}

<div class='container mt-20 yc-search'>
	{%- assign products_per_page = section.settings.products_per_page -%}
	{%- dump products_per_page -%}

	{%- paginate search.products by 8 some_unique_id %}
		<div class='yc-products-container'>
			{%- for item in items %}
				<a href='{{ item.url }}' class='overflow-hidden mb-9 product-holder'>
					{% if item.thumbnail %}
						<img src='{{ item.thumbnail }}' class='product-img'>
					{% else %}
						<img src='{{ 'fallback-product-img.webp' | asset_url }}' class='product-img'>
					{% endif %}

					<div class='text-center my-2 product-title'>{{ item.name }}</div>
					<div class='text-center text-xl'>{{ item.price | money }}</div>
				</a>
			{%- endfor %}
		</div>
		<div class='yc-pagination-wrapper'>
			<a class='paginate-btn-prev' href='{{ next_page }}'>
				<ion-icon name='arrow-back-outline'></ion-icon>
			</a>

			{% for index in (1..last) %}
				<a class='paginate-btn {% if index == current %} active {%- endif %}' data-index='{{ index }}'>
					{{ index }}
				</a>
			{% endfor %}

			<a
				class='paginate-btn-next'
				href='{{ previous_page }}'
				{%- if has_more %}
				{%- else %}
					disabled
				{%- endif %}
			>
				<ion-icon name='arrow-forward-outline'></ion-icon>
			</a>
		</div>
	{%- endpaginate %}
</div>

{{ 'search.js' | asset_url | script_tag }}

{%- schema -%}
{
	"label": "Search",
	"settings": [
		{
			"type": "number",
			"id": "products_per_page",
			"label": "Products per page",
			"default": 8
		}
	]
}
{%- endschema -%}
