{% assign id = 100 | rand: 2000 %}

{% style %}
  .multi-column-{{ id }}{
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    background-color: {{ section.settings.background_color.hex }};
    color: {{ section.settings.text_color.hex }};
  }

  .multi-column-{{ id }} .multi-column-blocks{
    display: flex;
    flex-wrap: wrap;
  }
{% endstyle %}

<div class='multi-column-{{ id }}'>
  <div class='container'>
    <h3 class='yc-section-title'>{{ section.settings.title }}</h3>
    <div class='multi-column-blocks'>
      {% for k in section.blocks %}
        {% assign block = k.settings %}
        <div>
          {% if block.image %}
            <img
              src='{{ block.image.src }}'
              width='200'
              height='200'
              loading='lazy'
            >
          {% endif %}
          {% if block.heading %}
            <h4 class='column-title'>{{ block.heading }}</h4>
          {% endif %}
          {% if block.description %}
            <p class='column-description'>{{ block.description }}</p>
          {% endif %}
          {% if block.link_label %}
            <a
              class='yc-btn'
              href='{{ block.link }}'
            >
              {{- block.link_label -}}
            </a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "label": "Multi-column",
  "blocks": [
    {
      "type": "columnn",
      "label": "Column",
      "limit": 20,
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image"
        },
        {
          "id": "heading",
          "type": "text",
          "label": "Heading"
        },
        {
          "id": "description",
          "type": "richtext",
          "label": "Description"
        },
        {
          "id": "link_label",
          "type": "text",
          "label": "Link label"
        },
        {
          "id": "link",
          "type": "text",
          "label": "Link"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "heading"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Number of columns on desktop"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 5,
      "max": 60,
      "step": 1,
      "unit": "px",
      "label": "Padding Top"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 5,
      "max": 60,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "label": "Number of columsn on mobile",
      "options": [
        {
          "value": "1",
          "label": "1 column"
        },
        {
          "value": "2",
          "label": "2 columns"
        }
      ]
    }
  ]
}
{% endschema %}
