{% assign id = 100 | rand: 2000 %}

{% style %}
  .multi-column-{{ id }} {
    padding: 24px 0;
    margin-top: {{ section.settings.space_top }}px;
    margin-bottom: {{ section.settings.space_bottom }}px;
    background-color: {{ section.settings.background_color.hex }};
    color: {{ section.settings.text_color.hex }};
  }

  @media screen and (min-width: 1024px) {
    .multi-column-{{ id }} {
      padding: 32px 150px;
    }
  }

  @media screen and (min-width: 1440px) {
    .multi-column-{{ id }} {
      padding: 32px 240px;
    }
  }

  .multi-column-{{ id }} .yc-section-title{
    text-align: {{ section.settings.section_title_position }};
    font-weight: 700;
    font-size: 26px;
    margin: 0 0 20px;
  }

  .multi-column-{{ id }} .multi-column-blocks {
    display: grid;
    grid-template-columns: repeat({{ section.settings.columns_desktop }}, 1fr);
    grid-gap: 2vw;
    align-items: stretch;
    padding: 10px 0;
  }

  .column-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .column-block .column-title {
    margin-top: 16px;
    font-weight: 700;
    font-size: 18px;
    color: {{ section.settings.caption_color.hex }};;
  }

  .column-block .column-description {
    margin: 12px auto;
    font-size: 15px;
    color: {{ section.settings.text_color.hex }};;
    font-weight: 400;
    line-height: 24px;
  }

  .column-block .column-image {
    object-fit: contain;
    aspect-ratio: 1;
    width: 50px;
    height: 50px;
  }

  .column-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 92px;
    height: 92px;
    border-radius: 50%;
    border: 1px solid #EBEBEB;
    padding: 15px;
  }

  .column-image-wrapper svg {
    object-fit: contain;
    aspect-ratio: 1;
    width: 50px;
    height: 50px;
  }

  @media only screen and (max-width: 576px) {
    .multi-column-{{ id }} .multi-column-blocks {
      grid-template-columns: repeat({{ section.settings.columns_mobile }}, 1fr);
      align-items: start;
      row-gap: 16px;
    }

    .column-block .column-title {
        font-size: 15px;
      }

    .column-image-wrapper {
      width: 75px;
      height: 75px;
    }
  }
{% endstyle %}

<div class='multi-column-{{ id }}'>
  <div class="container">
    <h3 class='yc-section-title'>{{ section.settings.title }}</h3>
    <div class='multi-column-blocks'>
      {% for block in section.blocks %}
        {% assign block_setting = block.settings %}
        <div class='column-block' {{ block.youcan_attributes }}>
          {% if block_setting.image %}
            <div class="column-image-wrapper">
              <img class='column-image' src='{{ block_setting.image.src }}' loading='lazy'>
            </div>
          {% else %}
            <div class="column-image-wrapper">
              {% render 'multi-column-svg', svg_index: forloop.index %}
            </div>
          {% endif %}
          {% if block_setting.heading %}
            <h4 class='column-title'>{{ block_setting.heading }}</h4>
          {% endif %}
          {% if block_setting.description %}
            <div class='column-description'>{{ block_setting.description }}</div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "label": "Multi-column",
  "templates": ["index", "product", "page"],
  "blocks": [
    {
      "type": "columnn",
      "label": "Column",
      "limit": 20,
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image",
          "info": "To ensure your images look great and load quickly, use a size of \"43px x 43px\" (1:1 aspect ratio)."
        },
        {
          "id": "heading",
          "type": "text",
          "label": "Heading"
        },
        {
          "id": "description",
          "type": "richtext",
          "label": "Description"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section title"
    },
    {
      "type": "header",
      "content": "Styles"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#000000FF"
    },
    {
      "type": "color",
      "id": "caption_color",
      "label": "Caption color",
      "default": "#000000FF"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "section_title_position",
      "label": "Title position",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "range",
      "id": "space_top",
      "min": 5,
      "max": 160,
      "step": 1,
      "unit": "px",
      "label": "Space top"
    },
    {
      "type": "range",
      "id": "space_bottom",
      "min": 5,
      "max": 160,
      "step": 1,
      "unit": "px",
      "label": "Space bottom"
    },
    {
      "type": "select",
      "id": "columns_desktop",
      "label": "Number of columns on desktop",
      "options": [
        {
          "value": "1",
          "label": "1 column"
        },
        {
          "value": "2",
          "label": "2 columns"
        },
        {
          "value": "3",
          "label": "3 columns"
        },
        {
          "value": "4",
          "label": "4 columns"
        }
      ],
      "default": "3"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "label": "Number of columsn on mobile",
      "options": [
        {
          "value": "1",
          "label": "1 column"
        },
        {
          "value": "2",
          "label": "2 columns"
        }
      ],
      "default": "1"
    }
  ]
}
{% endschema %}
