{{ 'notice-bar.css' | asset_url | stylesheet_tag }}

{% style %}
  :root {
    --yc-notice-height: {{ section.settings.notice_bar_height }}px;
    --yc-notice-font-size: {{ section.settings.notice_bar_content_font_size }}px;
    --yc-notice-background-color: {%- if section.settings.notice_bar_background_color %}
      {{ section.settings.notice_bar_background_color.hex }}
    {%- else %}
      var(--yc-primary-color){%- endif %};
    --yc-notice-text-color: {{ section.settings.notice_bar_content_text_color.hex }};
    --yc-notice-above: {{ section.settings.notice_bar_above }};
  }
{% endstyle %}

{%- if section.settings.notice_bar_show %}
  <div class='yc-notice'>
    <div class='content container '>
      {%- if section.settings.notice_bar_logo.src -%} <img src='{{ section.settings.notice_bar_logo.src }}'>{%- endif -%}
      <div class="notice-content">
        {{ section.settings.notice_bar_content }}
      </div>
    </div>
  </div>
{%- endif %}

{% schema %}
{
  "label": "Notice bar",
  "limit": 1,
  "settings": [
    {
      "type": "checkbox",
      "id": "notice_bar_show",
      "label": "Show notice bar",
      "default": true
    },
    {
      "type": "richtext",
      "id": "notice_bar_content",
      "label": "Content",
      "default": "توصيل واستبدال سريع"
    },
    {
      "type": "image_picker",
      "id": "notice_bar_logo",
      "label": "Notice bar logo"
    },
    {
      "type": "range",
      "id": "notice_bar_height",
      "min": 20,
      "max": 150,
      "step": 1,
      "unit": "px",
      "label": "Height",
      "default": 40
    },
    {
      "type": "range",
      "id": "notice_bar_content_font_size",
      "min": 12,
      "max": 20,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 14
    },
    {
      "type": "color",
      "id": "notice_bar_content_text_color",
      "label": "Text color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "notice_bar_background_color",
      "label": "Background color",
      "default": "#f4351f"
    }
  ]
}
{% endschema %}
