{{ 'product.css' | asset_url | stylesheet_tag }}

<section class='yc-product-card container'>
	<div class='product-images'>
		<img id='thumbnail' class='thumbnail' src='{{product.thumbnail}}' alt='{{product.name}}'>
		<div class='images'>
			{% for image in product.images %}
				<img onclick="previewProductImage('{{image}}')" src='{{image}}' alt='{{product.name}}'>
			{% endfor %}
		</div>
	</div>
	<div class='product-details'>
		<h1 class='product-name'>{{ product.name }}</h1>
		<h2 class='product-price'>{{ product.price | money }}</h2>
		<div class='product-options'>
			{% for option in product.options -%}
				<h3>{{ option.name }}</h3>
				{% case option.type %}
					{% when 'dropdown' %}
						<select class='yc-dropdown' name='{{option.name}}' id='{{option.name}}'>
							{% for item in option.values %}
								<option value='{{item}}'>{{ item }}</option>
							{% endfor %}
						</select>
					{% when 'textual_buttons' %}
						<ul class='yc-options-list'>
							{% for item in option.values %}
								<li class='yc-options-item'>{{ item }}</li>
							{% endfor %}
						</ul>
					{% when 'radio_buttons' %}
						{% for item in option.values %}
							<div class='yc-radio-buttons'>
								<input type='radio' name='{{option.name}}' value='{{item}}'>
								<span>{{ item }}</span>
							</div>
						{% endfor %}
					{% when 'image_based_buttons' %}
						<div>Image based buttons</div>
					{% when 'upload_image_zone' %}
						<div class='yc-upload'>
							<ion-icon name='cloud-upload-outline'></ion-icon>
							Upload image zone
						</div>
				{% endcase %}
			{%- endfor %}
		</div>
		<span class='yc-btn product-cta'>Add To Cart</span>
		<div class='product-description'>{{ product.description }}</div>
	</div>
</section>

{% dump product %}

{%- schema -%}
{ "label": "Product Card" }
{%- endschema -%}

{{ 'product.js' | asset_url | script_tag }}
