{% assign id = 100 | rand: 2000 %}

{{ 'product-column.css' | asset_url | stylesheet_tag }}

{%- style -%}
.product_customization-{{ id }} {
  padding-top: {{ section.settings.space_top }}px;
  padding-bottom: {{ section.settings.space_bottom }}px;
  background-color: {{ section.settings.background_color.hex }};
}

.product_customization-{{ id }} .yc-btn {
  color: {{ section.settings.button_text_color.hex }} !important;
}
{%- endstyle -%}

{%- assign selected_product = section.settings.product -%}

<section class='product_customization-{{ id }}'>
  {%- if selected_product -%}
    {%- render 'product-home', product_id: selected_product.id, product: selected_product, block_settings: section.settings -%}
  {%- else -%}
    {%- render 'product-column-placeholder', id: id, section_settings: section.settings -%}
  {%- endif -%}
</section>


{%- schema -%}
  {
    "label": "Product column",
    "templates": ["index", "page"],
    "settings": [
      {
        "label": "Product",
        "id": "product",
        "type": "product"
      },
      {
        "label": "Product description",
        "id": "product_description",
        "type": "richtext"
      },
      {
        "type": "checkbox",
        "id": "show_compare_at_price",
        "label": "Show compare at price",
        "default": false
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color"
      },
      {
        "type": "range",
        "id": "space_top",
        "label": "Space top",
        "min": 5,
        "max": 160,
        "step": 1,
        "unit": "px",
        "default": 50

      },
      {
        "type": "range",
        "id": "space_bottom",
        "label": "Space bottom",
        "min": 5,
        "max": 160,
        "step": 1,
        "unit": "px",
        "default": 50
      },
      {
        "type": "color",
        "id": "button_text_color",
        "label": "Button text color",
        "default": "#FFFFFF"
      },
      {
          "type": "text",
          "id": "tag_text",
          "label": "Banner text"
        },
        {
          "type": "color",
          "id": "tag_color",
          "label": "Banner background color",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "tag_text_color",
          "label": "Banner text color",
          "default": "#ffffff"
        },
        {
          "type": "select",
          "id": "tag_position",
          "label": "Banner position",
          "options": [
            {
              "label": "Top right",
              "value": "top_right"
            },
            {
              "label": "Top left",
              "value": "top_left"
            },
            {
              "label": "Bottom right",
              "value": "bottom_right"
            },
            {
              "label": "Bottom left",
              "value": "bottom_left"
            }
          ],
          "default": "top_right"
        }
    ],
    "blocks": [
      {
        "label": "Title",
        "limit": 1,
        "type": "product_title"
      },
      {
        "label": "Reviews",
        "limit": 1,
        "type": "product_reviews"
      },
      {
        "label": "Price",
        "limit": 1,
        "type": "product_price"
      }
    ]
  }
{%- endschema -%}
