{{ 'product.css' | asset_url | stylesheet_tag }}
<section class='yc-product-card container'>
	<div class='product-images'>
		<div id='img-zoomer-box'>
			<img id='img-1' class='thumbnail' src='{{product.thumbnail}}' alt='{{product.name}}'>
			<div id='img-2'></div>
		</div>

		<div class='images'>
			{% for image in product.images %}
				<img onclick="previewProductImage('{{image}}')" src='{{image}}' alt='{{product.name}}'>
			{% endfor %}
		</div>
	</div>
	<div class='product-details'>
		<h1 class='product-name'>{{ product.name }}</h1>
		<h2 class='product-price'>{{ product.price | money }}</h2>
		<form class='product-options'>
			{% for option in product.options -%}
				<br>
				<h3 class='product-option-title'>{{ option.name }}</h3>
				{% case option.type %}
					{% when 'dropdown' %}
						<select class='yc-dropdown' name='{{option.name}}' id='{{option.name}}'>
							{% for item in option.values %}
								<option value='{{item}}'>{{ item }}</option>
							{% endfor %}
						</select>
					{% when 'textual_buttons' %}
						<ul class='yc-options-list'>
							{% for item in option.values %}
								<li class='yc-options-item'>{{ item }}</li>
							{% endfor %}
						</ul>
					{% when 'radio_buttons' %}
						{% for item in option.values %}
							<div class='yc-radio-buttons'>
								<input type='radio' name='{{option.name}}' value='{{item}}'>
								<span>{{ item }}</span>
							</div>
						{% endfor %}
					{% when 'image_based_buttons' %}
						<ul class='yc-image-options-list'>
							{% for item in option.values %}
								<li class='yc-image-options-item'>
									<img src='{{item.preview}}' alt='{{item.value}}'>
								</li>
							{% endfor %}
						</ul>
					{% when 'upload_image_zone' %}
						<div class='yc-upload' onclick='uploadImage()'>
							<input type='file' id='yc-upload' accept='image/png, image/gif, image/jpeg'>
							<ion-icon name='cloud-upload-outline'></ion-icon>
							<span class='upload-msg'>Upload an image</span>
						</div>
					{% when 'color_base_buttons' %}
						<ul class='yc-colors-select'>
							{% for item in option.values %}
								<li class='color-item'>
									<span class='preview' style='background-color: {{item.preview}}'></span>
									<span class='value'>{{ item.value }}</span>
								</li>
							{% endfor %}
						</ul>
				{% endcase %}
			{%- endfor %}
		</form>
		<div class='product-description'>{{ product.description }}</div>
	</div>
</section>
{% dump product %}

{%- schema -%}
{ "label": "Product Card" }
{%- endschema -%}

{{ 'product.js' | asset_url | script_tag }}
