{{ 'product.css' | asset_url | stylesheet_tag }}
{{ 'splide.min.css' | asset_url | stylesheet_tag }}
{{ 'splide.min.js' | asset_url | script_tag }}

<section class='yc-product-card container'>
	{% assign images = product.images %}
	{% assign product_name = product.name %}
	{% assign showcase_style = section.settings.product_images_showcase_style %}
	{% render 'product-images-showcase', images: images, product_name: product_name, showcase_style: showcase_style %}

	<div class='product-details'>
		<h1 class='product-name'>{{ product.name }}</h1>
		<h2 class='product-price'>{{ product.price | money }}</h2>
		<div class='product-quantity '>
			<label for='quantity'>Quantity</label>
			<input type='number' class='yc-number' id='quantity' name='quantity' min='1' max='10' value='1'>
		</div>

		{% render 'product-variants', options: product.options %}
	</div>
</section>
<section class='product-description container'>{{ product.description }}</section>

{%- schema -%}
{
	"label": "Product Card",
	"settings": [
		{
			"type": "select",
			"id": "product_images_showcase_style",
			"label": "Style",
			"options": [
				{
					"value": "1",
					"label": "Thumbnails bottom"
				},
				{
					"value": "2",
					"label": "Thumbnails left"
				}
			],
			"default": "1"
		}
	]
}
{%- endschema -%}

{%- javascript -%}
	const variantStr = `{{ product.variants | json }}`
	const variants = JSON.parse(variantStr.slice(1, -1))
{%- endjavascript -%}

{{ 'product.js' | asset_url | script_tag }}
