{{ 'thankyou.css' | asset_url | stylesheet_tag }}

<div class='thankyou-wrapper'>
  <div class='container py-12'>
    <div class='content-wrapper'>
      <img src='{{section.settings.hero_image.src}}'>
      <div class='title'>{{ section.settings.title }}</div>
      <div class='subtitle'>{{ section.settings.subtitle }}</div>
      <div class='description'>
        {{ section.settings.description }}
      </div>
      <a
        href='/'
        class='yc-btn'
      >
        <ion-icon
          name='arrow-back-outline'
          class='yc-btn-responsive-icon'
        ></ion-icon>
        Return to shop
      </a>
    </div>
  </div>
</div>

<div class='container'>
  <div class='order-details'>
    <div class='title'>Order details</div>
    <div class='table-content'>
      <div class='head'>
        <div class='item'>
          <div class='label'>Payment status</div>
          <div class='value'>{{ order.paymentStatus }}</div>
        </div>
        <div class='item'>
          <div class='label'>Shipping cost</div>
          <div class='value'>{{ order.shippingCost }}</div>
        </div>
        <div class='item'>
          <div class='label'>Total</div>
          <div class='value'>{{ order.total | money }}</div>
        </div>
      </div>

      <div class='summary'>
        <table>
          <thead>
            <tr>
              <th scope='col'>Product</th>
              <th scope='col'>One piece price</th>
              <th scope='col'>Quantity</th>
              <th scope='col'>Total</th>
            </tr>
          </thead>
          <tbody>
            {%- for item in order.order_variants %}
              <tr>
                <td data-label='Product'>{{ item.name }}</td>
                <td data-label='One piece price'>{{ item.price | money }}</td>
                <td data-label='Quantity'>{{ item.quantity }}</td>
                <td data-label='Total'>{{ item.price | times: item.quantity | money }}</td>
              </tr>
            {%- endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{%- schema -%}
{
  "label": "Thank you page",
  "templates": ["thankyou"],
  "limit": 1,
  "settings": [
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Image"
    },
    {
      "type": "range",
      "id": "hero_image_height",
      "label": "Image height",
      "min": 0,
      "max": 200,
      "step": 1,
      "unit": "px",
      "default": 50
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Thank you"
    },
    {
      "type": "select",
      "id": "title_font_weight",
      "label": "Title font weight",
      "default": "400",
      "options": [
        {
          "value": "300",
          "label": "Light"
        },
        {
          "value": "400",
          "label": "Normal"
        },
        {
          "value": "500",
          "label": "Bold"
        },
        {
          "value": "700",
          "label": "Heavy"
        }
      ]
    },
    {
      "type": "range",
      "id": "title_font_size",
      "label": "Title font size",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 16
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Your order has been received."
    },
    {
      "type": "select",
      "id": "subtitle_font_weight",
      "label": "Subtitle font weight",
      "default": "400",
      "options": [
        {
          "value": "300",
          "label": "Light"
        },
        {
          "value": "400",
          "label": "Normal"
        },
        {
          "value": "500",
          "label": "Bold"
        },
        {
          "value": "700",
          "label": "Heavy"
        }
      ]
    },
    {
      "type": "range",
      "id": "subtitle_font_size",
      "label": "Subtitle font size",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 16
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p>Our team will be in touch to confirm your request.</p> <p>We value your trust and appreciate your willingness to communicate with us.</p> <p>We are always here to serve you.</p>"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "Return to shop"
    }
  ]
}
{%- endschema -%}
