{{ 'thankyou.css' | asset_url | stylesheet_tag }}

{% style %}
.title {
  color: {{ section.settings.title_color.hex }};
  font-size: {{ section.settings.title_size }}px;
}

.subtitle {
  color: {{ section.settings.subtitle_color.hex }};
}
{% endstyle %}

<div class='thankyou-page-container'>
  <div class='thankyou-wrapper'>
    <div class='py-12'>
      <div class='content-wrapper'>
        <div class='thankyou-image'>
          <img src='{{ 'thankyou.png' | asset_url }}' alt='Thank you'>
        </div>

        <div class='heading'>
          <div class='title'>{{ section.settings.title }} <div class='subtitle'>{{ section.settings.subtitle }}</div></div>
        </div>

        <div class='description'>
          {{ section.settings.description }}
        </div>
      </div>
    </div>
  </div>

  <h1 class='invoice-summary-title'>
    {{ 'thankyou.order_summary' | t }}
  </h1>

  <div class='orders-detail-wrapper'>
    {% for variant in order.order_variants %}
      <div class='variant'>
        <h2>{{ variant.name }}</h2>
        <h2>{{ variant.price | money }}</h2>
      </div>
    {% endfor %}
  </div>

  <div class='order-details'>
    <div class='table-content'>
      <div class='head'>
        <div class='item'>
          {{ 'thankyou.details.product' | t }}
        </div>
        <div class='data-item'>
          {{ order.total | money }}
        </div>
      </div>
      <div class='head'>
        <div class='item'>
          {{ 'thankyou.details.shipping_cost' | t }}
        </div>
        <div class='data-item'>
          {{ order.shippingCost | money }}
        </div>
      </div>
      <div class='total-price-head'>
        <div class='item'>
          {{ 'thankyou.details.total' | t }}
        </div>
        <div class='data-item'>
          {{ order.total | money }}
        </div>
      </div>
    </div>
  </div>

  <div class='home-page'>
    <a href='/' class='yc-btn'>
      {{ 'thankyou.return_cta' | t }}
    </a>
  </div>
</div>

{%- schema -%}
{
  "label": "Thank you page",
  "templates": ["thankyou"],
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title color"
    },
    {
      "type": "color",
      "id": "subtitle_color",
      "label": "Subtitle color"
    },
    {
      "type": "range",
      "id": "title_size",
      "label": "Title font size",
      "min": 14,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 16
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    }
  ]
}
{%- endschema -%}
