{{ 'thankyou.css' | asset_url | stylesheet_tag }}

<div class='w-full h-full flex items-center justify-center'>
  <div class='container py-12'>
    <div class='flex flex-col justify-center text-center items-center gap-3'>
      <ion-icon
        name='planet-outline'
        class='text-9xl'
        style='--ionicon-stroke-width: 12px;'
      ></ion-icon>
      <div class='text-3xl md:text-5xl'>{{ section.settings.title }}</div>
      <div class='md:text-xl opacity-75 my-3'>{{ section.settings.subtitle }}</div>
      <div class='opacity-90 text-2xl leading-10'>
        {{ section.settings.description }}
      </div>
      <a
        href='/'
        class='yc-btn flex gap-2 w-fit mt-5 items-center'
      >
        <ion-icon name='arrow-back-outline'></ion-icon>
        Return to shop
      </a>
    </div>
  </div>
</div>

<div class='container'>
  <div class='order-details'>
    <div class='title'>Order details</div>
    <div class='table-content'>
      <div class='head'>
        <div class='item'>
          <div class='label'>Payment status</div>
          <div class='value'>{{ order.paymentStatus }}</div>
        </div>
        <div class='item'>
          <div class='label'>Shipping cost</div>
          <div class='value'>{{ order.shippingCost }}</div>
        </div>
        <div class='item'>
          <div class='label'>Total</div>
          <div class='value'>{{ order.total | money }}</div>
        </div>
      </div>

      <div class='summary'>
        <table>
          <thead>
            <tr>
              <th scope='col'>Product</th>
              <th scope='col'>One piece price</th>
              <th scope='col'>Quantity</th>
              <th scope='col'>Total</th>
            </tr>
          </thead>
          <tbody>
            {%- for item in order.order_variants %}
              <tr>
                <td data-label='Product'>{{ item.name }}</td>
                <td data-label='One piece price'>{{ item.price | money }}</td>
                <td data-label='Quantity'>{{ item.quantity }}</td>
                <td data-label='Total'>{{ item.price | times: item.quantity | money }}</td>
              </tr>
            {%- endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{%- schema -%}
{
  "label": "Thank you page",
  "templates": ["thankyou"],
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Thank you"
    },
    {
      "type": "select",
      "id": "title_font_weight",
      "label": "Title font weight",
      "default": "400",
      "options": [
        {
          "value": "300",
          "label": "Light"
        },
        {
          "value": "400",
          "label": "Normal"
        },
        {
          "value": "500",
          "label": "Bold"
        },
        {
          "value": "700",
          "label": "Heavy"
        }
      ]
    },
    {
      "type": "range",
      "id": "title_font_size",
      "label": "Title font size",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 16
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Your order has been received."
    },
    {
      "type": "select",
      "id": "subtitle_font_weight",
      "label": "Subtitle font weight",
      "default": "400",
      "options": [
        {
          "value": "300",
          "label": "Light"
        },
        {
          "value": "400",
          "label": "Normal"
        },
        {
          "value": "500",
          "label": "Bold"
        },
        {
          "value": "700",
          "label": "Heavy"
        }
      ]
    },
    {
      "type": "range",
      "id": "subtitle_font_size",
      "label": "Subtitle font size",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 16
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p>Our team will be in touch to confirm your request.</p> <p>We value your trust and appreciate your willingness to communicate with us.</p> <p>We are always here to serve you.</p>"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "Return to shop"
    }
  ]
}
{%- endschema -%}
