{{ 'thankyou.css' | asset_url | stylesheet_tag }}

<div class='thankyou-wrapper'>
  <div class='container py-12'>
    <div class='content-wrapper'>
      <img
        loading='lazy'
        src='{{section.settings.hero_image.src}}'
      >
      <div class='title'>{{ 'thankyou.title' | t: section.settings.title }}</div>
      <div class='subtitle'>{{ 'thankyou.subtitle' | t: section.settings.subtitle }}</div>
      <div class='description'>
        {{ 'thankyou.description' | t: section.settings.description }}
      </div>
      <a
        href='/'
        class='yc-btn'
      >
        <ion-icon
          name='arrow-back-outline'
          class='yc-btn-responsive-icon'
        ></ion-icon>
        {{ 'thankyou.return_cta' | t }}
      </a>
    </div>
  </div>
</div>

<div class='container'>
  <div class='order-details'>
    <div class='title'>
      {{ 'thankyou.details.title' | t }}
    </div>
    <div class='table-content'>
      <div class='head'>
        <div class='item'>
          <div class='label'>{{ 'thankyou.details.payment_status' | t }}</div>
          <div class='value'>{{ order.paymentStatus }}</div>
        </div>
        <div class='item'>
          <div class='label'>{{ 'thankyou.details.shipping_cost' | t }}</div>
          <div class='value'>{{ order.shippingCost }}</div>
        </div>
        <div class='item'>
          <div class='label'>{{ 'thankyou.details.total' | t }}</div>
          <div class='value'>{{ order.total | money }}</div>
        </div>
      </div>

      <div class='summary'>
        <table>
          <thead>
            <tr>
              <th scope='col'>{{ 'thankyou.details.product' | t }}</th>
              <th scope='col'>{{ 'thankyou.details.one_piece_price' | t }}</th>
              <th scope='col'>{{ 'thankyou.details.one_piece_price' | t }}</th>
              <th scope='col'>{{ 'thankyou.details.total' | t }}</th>
            </tr>
          </thead>
          <tbody>
            {%- for item in order.order_variants %}
              <tr>
                <td data-label='{{ 'thankyou.details.product' | t }}'>{{ item.name }}</td>
                <td data-label='{{ 'thankyou.details.one_piece_price' | t }}'>{{ item.price | money }}</td>
                <td data-label='{{ 'thankyou.details.one_piece_price' | t }}'>{{ item.quantity }}</td>
                <td data-label='{{ 'thankyou.details.total' | t }}'>{{ item.price | times: item.quantity | money }}</td>
              </tr>
            {%- endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{%- schema -%}
{
  "label": "Thank you page",
  "templates": ["thankyou"],
  "limit": 1,
  "settings": [
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Image"
    },
    {
      "type": "range",
      "id": "hero_image_height",
      "label": "Image height",
      "min": 0,
      "max": 200,
      "step": 1,
      "unit": "px",
      "default": 50
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "select",
      "id": "title_font_weight",
      "label": "Title font weight",
      "default": "400",
      "options": [
        {
          "value": "300",
          "label": "Light"
        },
        {
          "value": "400",
          "label": "Normal"
        },
        {
          "value": "500",
          "label": "Bold"
        },
        {
          "value": "700",
          "label": "Heavy"
        }
      ]
    },
    {
      "type": "range",
      "id": "title_font_size",
      "label": "Title font size",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 16
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "select",
      "id": "subtitle_font_weight",
      "label": "Subtitle font weight",
      "default": "400",
      "options": [
        {
          "value": "300",
          "label": "Light"
        },
        {
          "value": "400",
          "label": "Normal"
        },
        {
          "value": "500",
          "label": "Bold"
        },
        {
          "value": "700",
          "label": "Heavy"
        }
      ]
    },
    {
      "type": "range",
      "id": "subtitle_font_size",
      "label": "Subtitle font size",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 16
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text"
    }
  ]
}
{%- endschema -%}
