<!doctype html>
<html lang='en'>
	<head>
		{%- render 'head-config' -%}

		{{ content_for_header }}
	</head>
	<body>
		<div class='global-overlay'></div>

		{{ content_for_layout }}

		{{ 'main.js' | asset_url | script_tag }}
		{{ 'splide.min.js' | asset_url | script_tag }}
		{{ 'dropdown.js' | asset_url | script_tag }}
		<script>
			document.querySelectorAll('select').forEach((select) => NiceSelect.bind(select))
		</script>
	</body>
</html>
