<!doctype html>
<html
  lang='en'
  dir='{{ settings.theme_direction }}'
>
  <head>
    {%- render 'head-config' -%}

    {{ content_for_header }}

    {{ 'youcan-js.min.js' | asset_url | script_tag }}
    {{ 'helper.js' | asset_url | script_tag }}
  </head>
  <body>
    {%- render 'overlay' -%}
    {%- render 'alert' -%}

    {%- section 'notice-bar' %}
    {%- section 'main-navbar' %}

    {{ content_for_layout }}

    {% section 'main-footer' %}
    {%- render 'cart-drawer' -%}

    {{ 'main.js' | asset_url | script_tag }}
  </body>
</html>
