<!doctype html>
<html
  lang='en'
  dir='{{ settings.theme_direction }}'
>
  <head>
    {%- render 'head-config' -%}

    {{ content_for_header }}

    {{ 'youcan-js.min.js' | asset_url | script_tag }}
  </head>
  <body>
    {%- render 'overlay' -%}
    {%- render 'alert' -%}

    {{ content_for_layout }}

    {{ 'main.js' | asset_url | script_tag }}
    {{ 'splide.min.js' | asset_url | script_tag }}
    {{ 'dropdown.min.js' | asset_url | script_tag }}
    {%- javascript -%}
      document.querySelectorAll('select').forEach((select) => NiceSelect.bind(select));
    {%- endjavascript -%}
  </body>
</html>
